@charset "utf-8";
div.clearer { clear:both; }

html, body {font-family: Arial;
            height:100%;
            color:#2d343a;
	        font-size:12px;
}
	
P{margin:0px;
  padding:0px;
 }
 
 
div#wrapper{min-height: 100%;
            height: auto !important;
            height: 100%;
            margin: 0 auto;
            width:100%;
			text-align:left;
			
            }
			
a{ text-decoration:none;}

.right-float{ float:right;}


/********** <<HEAD>> ***********/


div#Container{min-height: 100%;
              margin: 0 auto;
              width:790px;
		      text-align:left;
			  float:left;
			  margin-top:15px;
			  position: relative;
				  		
              }
			  
.Top-Head{height:36px;						
						}
						
								 
.back-link
{
background:url(../images/arrow_turn_left.png) no-repeat top left;
height:16px;
line-height:16px;
float:left;
text-indent:20px;
margin:8px 8px 0px 10px;
color:#2d343a;
text-decoration:none;
}

.back-link a
{
color:#2d343a;
}

.Top-Head
	{
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 99;
	}
								 						   
.back-link
	{
	position: absolute;
	right: 0px;
	}						
						
							   

							
div#LiveChatContainer{min-height: 100%;
                      margin: 0 auto;
                      width:770px;
		              text-align:left;
			          float:left;
			          margin-top:15px;
			      			  		
                       }	
.Main-Content{padding:0px 12px 0px 12px;					   
			 }	
			 
.glossaryMain-Content{background-color:#cccc;
					  padding:0;
					  margin:0;
			 			   
			 }			 
			 
.main-col{width:50%;
 		  float:left;
		 }
		  
.main-col1{width:25%;
 		   float:left;
		  
		   }
		   
		   
.gloassaryContent{background-color:#efefef;
				  float:left;				 
				  width:100%;
				  margin-top:20px;
				  padding-top:0;
				 
				 }
				 
.pdf-pad{ margin-left:200px; float:left;}				 
				 
.table-color1{background-color:#cfe2f0;
              position:relative;
			  padding:8px;}	
			  
.table-color2{background-color:#fff;
              position:relative;
			  padding:8px;}				  			 			   	   			 
			 		   
		   
.glossary-title{font-weight:bold;
				   font-size:12px;
				   margin:0;
				   padding:0;
				   }
		  
.main-col2{width:75%;
 		   float:left;
		  }		  		  
		  
.main-subheading h2{font-size:16px;
                    color:#1866b0;
					font-weight:bold;
					text-transform:uppercase;
					margin-top:15px;
					margin-right:10px;}
					
.main-headsub{font-size:14px;
              color:#333333;
			  font-weight:bold;
			  margin-top:8px;
			  margin-right:12px;}	
			  
.alllist ul{margin:0;
            padding:0;
			list-style:none;
			margin-top:5px;
			margin-right:20px;}
			
.alllist ul li{ background:url(../images/bulb_03.jpg)  no-repeat top left;
                margin:0;
                padding:0;
				padding-left:15px;
				margin-bottom:5px;
			    }							  						  
		  
	  			 				   						

.LiveChatContent{width:753px;
                float:left;
				padding:0px 12px 0px 12px;}						
.GetStarted{background-color:#ebebeb;
            width:240px;
            float:left;
			padding:11px 11px 11px 12px;
										
										}
.GetStarted .Title-Head h2{color:#2d343a;
                           font-size:24px;
						   font-weight:bold;
                            }
													   
.GetStarted .videocontainer{position:relative;
							top:15px;
							}	
							
.faq-titlehead h2{color:#2d343a;
                  font-size:28px;
				  font-weight:bold;}							
							
.videolink{background-color:#232323;
           padding:8px;
           position:relative;
		   top:12px;
		   font-size:13px;
		   font-weight:bold;
		   color:#fff;}	
		   
.videolinkhighlight{color:#00ff00}	

.profiletitlehead{font-size:15px;
				  font-weight:bold;
				  color:#1058a6;
				  padding-top:25px;
				  padding-bottom:12px;}
				  
.profile ul{margin:0px;
            padding:0px;
			margin-top:12px;
			}	
			
.profile li{background:url(../images/tick.png) no-repeat center left;
            height:25px;
			line-height:25px;
			width:200px;
			padding-left:23px;			
			}	
			
.profile li a{font-size:15px;
			  color:#000;
			  text-decoration:none;}
			  
.profile li a:hover{color:#1058a6;
		            }
.button{border:0px;background:none;padding:0;width:auto;overflow:visible;cursor:pointer;margin:0px;vertical-align:middle;float:left;margin-right:5px;text-decoration:none;color:#fff; float:left; margin-top:15px; margin-bottom:5px;}  
.button label, .button b{background:url(../images/buttonbg.png) no-repeat left top;line-height:29px;color:#fff;display:block;white-space:nowrap;font-family: "Myriad Pro", Arial, Helvetica, sans-serif;font-size:15px;font-weight:bold;margin:0px;width:auto;float:none;padding-left:15px;padding-right:10px;text-decoration:none; text-transform:uppercase; padding-top:3px;}
.button span{margin:0px;display:block;background:url(../images/buttonbg.png) no-repeat right -32px;padding-right:6px;margin:0px;text-align:center;text-decoration:none;color:#fff;}
.button:hover b{background-position-y:-64px;text-decoration:none;color:#b8ffc1;}
.button:hover span{background-position-y:-96px;text-decoration:none;color:#b8ffc1;}									  					   																								   											
										
.HelpChat{width:490px;
          float:right;
		  text-align:right;
			 }	
			  
.bubbles{background:url(../images/bubble_06.png) no-repeat top right;
         height:72px;
		 width:344px;
		 float:right;
		 text-align:left;
		 font-size:18px;
		 padding-left:25px;
		 padding-top:12px;
	     }
		 
.higlightedtex{color:#1058a6}		 	
		 
.agent{background:url(../images/agent.png) no-repeat top right;
       height:88px;
	   width:88px;
	   float:right;
	   }
	   
.bottomlink{width:440px;
            text-align:left;
			padding-left:30px;
			float:right;
			margin-top:10px;}
			
.check-box2{width:170px;
            float:left;
			}
.Bottom-Link2{float:right;
			 text-align:right;
			}	
																   		 	  								  																
.shadow{background:url(../images/shadow_10.png) no-repeat top right;
        height:59px;
		width:479px;
		float:right;}							
													   								  
div#Container .Main-Content .Title-Head h2{color:#2d343a;
                                           font-size:30px;
										   font-weight:bold;
                                           text-align: center;
                                           }
div#Container .Main-Content .Title-Head h4{

    text-align: center;
}

div#Container .Main-Content .Left-Content{width:357px;
                                          float:left;
										  margin-top:25px;}
										  
div#Container .Main-Content .Left-Content .TitleNum1 h2{background:url(../images/1_11.gif) no-repeat top left;
                                                        height:36px;
														line-height:36px;
														float:left;
														font-weight:bold;
														color:#3fa9df;
														font-size:20px;
														text-indent:45px;
														}	
														
div#Container .Main-Content .Left-Content .Video{
                                                 width:339px;
                                                 height:274px;
                                                 float:left;
												 margin-top:30px;}																							  
										  
div#Container .Main-Content .Right-Content{width:363px;
                                           float:right;
										   margin-top:25px;
										   }
										   
div#Container .Main-Content .Right-Content .TitleNumHome h2{background:url(../images/2_11.gif) no-repeat top left;
                                                            height:36px;
														    line-height:36px;
														    float:left;
														    font-weight:bold;
														    color:#3fa9df;
														    font-size:20px;
														    margin-bottom:20px;
														    text-indent:40px;													
														 }
														 
div#Container .Main-Content .Right-Content .TitleNum1 h2{background:url(../images/2_11.gif) no-repeat top left;
                                                         height:36px;
														 line-height:36px;
														 float:left;
														 font-weight:bold;
														 color:#3fa9df;
														 font-size:20px;
														 margin-bottom:20px;
														 margin-left:10px;														
														 padding-left:45px;
																										
														 }														 
														 
div#Container .Main-Content .Right-Content div.Action-Button{background:url(../images/current-button_11.png) no-repeat top left;
                                                             width:319px;
													         height:65px;
													        line-height:65px;
													        float:right;
														    margin-top:10px;
														    font-size:20px;
														    font-weight:bold;
														    color:#4b5762;
													        }	
														 
div#Container .Main-Content .Right-Content div.Action-Button a{background:transparent url() no-repeat top left;
                                                               width:319px;
													           height:65px;
													           line-height:65px;
													           float:right;
														       text-decoration:none;
														       color:#4b5762;
													           }
														   
div#Container .Main-Content .Right-Content div.Action-Button a:hover{background:url(../images/hover-button_11_11.png) no-repeat top left;
                                                                     width:319px;
													                 height:65px;
													                 line-height:65px;
													                 float:right;
														             font-size:20px;
														             font-weight:bold;
														             color:#4b5762;
													                 }														   
														   
span.ImportersIcon{background:url(../images/importer.png) no-repeat top left;
                                                               width:60px;
													           height:55px;
															   float:left;
															   margin-top:5px;
															   margin-right:15px;
															  }	
															   
span.LogisticsIcon{background:url(../images/logistics.png) no-repeat top left;
                                                               width:55px;
													           height:39px;
															   float:left;
															   margin-left:3px;
															   margin-top:15px;
															   margin-right:15px;}	
															   
span.OverseasIcon{background:url(../images/overseas.png) no-repeat top left;
                                                               width:55px;
													           height:49px;
															   float:left;
															   margin-left:3px;
															   margin-top:9px;
															   margin-right:15px;}	
															   
span.InvestorsIcon{background:url(../images/investors.png) no-repeat top left;
                   width:48px;
				   height:49px;
				   float:left;
				   margin-left:7px;
				   margin-top:9px;
			       margin-right:18px;
				   }
															  																   															   															   
div#Bootom-Container{background:#eeeeee;
                     width:770px;
				     height:45px;
					 float: left;
		   		     margin-top:30px;
					 margin-bottom:10px;
                     border-radius:4px
					 
			        }	
					
div#Bootom-Container .check-box{width:343px;
                                float:left;
								padding-left:12px;
								padding-top:15px;
								}
								
span.BottomLink a{margin-left:6px;
                  color:#3fa9df;
				  text-decoration:none;}								
								
							
div#Bootom-Container .Bottom-Link {width:340px;
                                    float:right;
								    text-align:right;
								    padding-right:12px;
									padding-top:15px;
									}	
									
																																	   
															   
				   										  									   		
div#Container #BottomCurve{
                width:806px;
				height:31px;
				float:left;
				padding-bottom:20px;
				}	

div.List-Content{width:329px;
                 margin-top:15px;
				 margin-left:20px;
				 }				
ul.check
				{
				margin: 0px;
				margin-bottom: 10px;
				margin-top: 10px;
				padding: 0px;
				}
				
				.check li
					{
					list-style: none;
					padding-left: 20px;
					margin-bottom: 10px;
					background: url(../images/check.gif) no-repeat top left;
					}
	

p
	{
	margin-bottom: 10px !important;
	}
	
.pdf-dload-bg{background-color:#f5f5dc;
              -moz-border-radius: 4px;
        	 -webkit-border-radius: 4px;
			 width:276px;
			 height:44px;
			 line-height:44px;
			 margin-top:30px;
			 padding-left:45px;
			 float:left;
}


.pdf-dload-bg2{background-color:#f5f5dc;
              -moz-border-radius: 4px;
        	 -webkit-border-radius: 4px;
			 padding:0 20px;
			 height:44px;
			 line-height:44px;
			 margin-top:30px;
			 padding-left:20px;
			 float:left;
}

.pdf-dload-bg3{background-color:#f5f5dc;
              -moz-border-radius: 4px;
        	 -webkit-border-radius: 4px;
			 padding:0 20px;
			 height:44px;
			 line-height:44px;
			 margin-top:30px;
			 padding-left:20px;
			 float:left;
}
			 
.pdf-icondload{background:url(../images/pdf-icon.png) no-repeat top left;
               height:29px;
			   width:31px;
			   display:block;
			   margin-right:5px;
			   float:left;
			   margin-top:10px;
			   }
			   
.pdf-dloadtext{font-size:16px;
			   font-weight:bold;
			   float:left;}	
			   
a.link{color:#000;}	

.top-link{background-color:#ff9600;
		  -moz-border-radius: 4px;
          -webkit-border-radius: 4px;
		  float:left;
		   width:460px;
		   height:34px;
	 	   line-height:34px;
		   color:#fff;
		   margin-left:17px;
		   margin-bottom:15px;
		   padding:9px 6px;
		   font-weight:bold;
		   padding-left:0;
		   }
		
			
a.ttip-buttonlink {background-color:#232325;
              -moz-border-radius: 4px;
        	 -webkit-border-radius: 4px;
			 float:left;
			 padding:0 12px;
			 margin-right:5px;
			 color:#fff;
			 float:right;}
			 
a:hover.ttip-buttonlink{ color:#ff9600}	

.faq-content{ width:100%;}	

.alllink { color:#3fa9df;}	

.video-category-title
				    {
					 font-size:14px;
					 font-weight:bold;
					 text-transform:uppercase;
					 margin-top:12px;
					 margin-bottom:5px;
					}
ul.video-icon
			 {
			  margin:0;
			  padding:0;
			  list-style:none;
			  				 
			 }
			 
ul.video-icon li
				 {
			      margin:0;
			      padding:0;					 
				  background:url(../images/camera.png) no-repeat top left;
				  height:16px;
				  padding-left:22px;
				  font-size:12px;
				  font-weight:bold;				 							 
				 }
				 

ul.video-icon li a{ color:#333}
ul.video-icon li a:hover{ color:#3fa9df}

.col1, .col2
	{
		float: left;
		padding-bottom: 10px;
		margin-right: 1%;
	}
	
.col1
	 {
	  width:35%;	  
	 }
	 
.col2
	{
		width:63%;
		float:right;
    }
	
.video-title
			{
		    font-size:22px;
			font-weight:bold;
			margin-bottom:8px;
			letter-spacing:-1px;
			}	

		
.video_preloader
{
	
	width: 66px;
	height: 66px;
	background: url(../images/vload.gif) no-repeat;
	margin: 15% auto;
}	

.row
{
	width: 500px;
	margin: 5px 0 10px 0;
}

.row label.inline
{
	width: 90px;
	height: 20px;
	font-size: 13px;
	text-shadow: 1px 1px 2px #ddd;
	display: block;
}

.row label.block
{
	display: block;
	font-size: 13px;
	margin: 15px 0 5px 0;
	text-shadow: 1px 1px 2px #ddd;
}

.row input[type=text]
{
	width: 170px;
	padding:2px;
	font-size: 12px;
}

.row textarea
{
	width: 390px;
	height: 130px;
	padding:2px;
	font-size: 12px;
}

.row select
{
	width: 300px;
	padding: 2px;
	font-size: 12px;
}

.row select#cf-ptime
{
	width: 180px
}

.training-form
{
	margin:0 0 20px 0;
}

.form_preloader
{
	width: 200px;
	height: 16px;
	line-height: 16px;
	background: url(../images/iload.gif) no-repeat;
	margin: 10px 0 0;
	padding-left: 20px;
	font-size:14px;
}

.error_msg, .success_msg
{
	position:relative;	
	padding: 10px;
	background: #fff;
	border-radius: 5px;
	border:1px solid #ccc;
	margin:12px;
	color:#333;
	padding-bottom:0;
}

.success_msg
{
margin-top:0;
margin-bottom:0;
}

.goback_btn
{
padding-left:12px;
}

.error_msg h3
{
	margin: 0 0 10px 0;
	padding: 0;
	color:red;
}

.error_msg ul
{
	margin: 0 0 10px 15px;
	list-style-type: disc;
}



	.form_row
		{
		float: left;
		width: 100%;
		margin-bottom: 10px;
		position: relative;
		padding-bottom: 0px;
		}
		
		.fr1of2
			{
			width: 50%;
			}
		
		.fr1of3
			{
			width: 33%;
			}
		
		.form_hlite
			{
			background: #eee;
			}
		
		.form_label
			{
			position: absolute;
			top: 5px;
			left: 10px;
			font-weight: bold;
			font-size: 12px;
			text-transform: uppercase;
			}
		
		.form_input
			{
			padding: 5px;
			border-bottom: 2px solid #888;
			margin-top: 25px;
			margin-right: 10px;
			margin-left: 10px;
			}
			
			.form_input_w
				{
				background: #fff;
				}
			
			.form_input .tb
				{
				width: 100%;
				padding: 0px;
				border: 0px;
				font-size: 18px;
				line-height: 18px;
				font-family: Arial;
				outline: none;
				}
		
	.form_desc
		{
		position: relative;
		}
		
		.form_desc_inner
			{
			padding-top: 10px;
			/* position: absolute; */
			top: 0px;
			background: url(icons/arrow-up.png) no-repeat 10px -6px;
			left: 10px;
			z-index: 2;
			display: none;
			}
			
			.form_msg
				{
				display: block;
				padding: 10px;
				background: #90bddf;
				margin-bottom: 0px;
				}
			
			.form_hlite .form_desc_inner
				{
				display: block;
				}
            
.form-titlebar
			 {
			text-shadow: 0px 1px 0px #fff;
			padding: 10px 25px;
			background: #999;
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 18px;
			line-height: 18px;
			width: 620px;
			text-align: left;			 
			 }
			 
.form-innercontent
				  {
					background-color: #DDD;
					overflow: hidden;					
					width: 640px;
					padding:10px 15px;
					float: left;
					text-shadow: 0px 1px 0px #fff;						  
				  }
				  

	.shadow2
		{
		height: 25px;
		position: relative;
		clear: both;
		display: block;
		}
		
		.s1, .s2
			{
			position: absolute;
			top: 0;
			left: 0;
			height: 25px;
			width: 100px;
			background: url(../images/shadow.png) no-repeat 0 0;
			display: block;
			}
			
			.s2
				{
				left: auto;
				right: 70px;
				background: url(../images/shadow.png) no-repeat -100px 0;
				display: block;
				}
				
			.s1
				{
				left:5px;
				}
				
.calendar-icon
			 {
			  background: url(../images/calendar.png) no-repeat top right;
			  position:absolute;
			  height:16px;
			  width:16px;
			  display:block;
			  right:5px;
			  top:7px;
			  			 
			 }
			 
h3.widget-titlehead 
		{
		 font-family:Arial;
		 font-size:16px;
		 text-transform:uppercase;
		 color:#333;
		 margin:0;
		 padding:0;
		 padding:10px 12px;
		 padding-bottom:5px;					
		}
		
			
		
.line-divider
		{
		 border-top:1px solid #e0e0e0;
		 border-bottom:1px solid #fff;
		 margin-bottom:12px;
		 display:block;
		}	
		
.widget-table
		     {
			  background:#f6f6f6;
			 border:1px solid #fff;
			-moz-border-radius: 3px;
			 border-radius: 3px;		
			 -webkit-border-radius: 3px;	
			 -moz-box-shadow: 0 0 3px #b5b5b5;
			 -webkit-box-shadow: 0 0 3px #b5b5b5;
			 box-shadow: 0 0 3px #b5b5b5;
			 margin:12px;
			 padding:6px 0;
			 margin-top:30px;
			 margin-bottom:0;
			 			 

			 }		 
			 
/*clear fix */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
.clearfix:after {
  clear: both;
}	

/*clear fix */
.clearfix {
  zoom: 1;
}
