html,body{
    font-family: "Arial";
    height:100%;
    color:#2d343a;
    font-size:12px;
    margin:0;
    padding:0;
}

img{
border: 0;
}

a{
color: #90bddf;
text-decoration: none;
}

textarea:focus{
    outline:none;
}

h1,h2,h3{
color:#333;
letter-spacing: -1px;
font-family: "Helvetica Neue","Helvetica", "Arial","Trebuchet MS";
}

h1,h2,h3,p, form{
margin: 0;
margin-bottom: 10px;
}

.center{
    margin:auto;
    text-align:center;
}

.clear{
clear: both;
}

/*clear fix */
.clearfix:before, .clearfix:after {
display: table;
content: "";
}
.clearfix:after {
clear: both;
}

.rel-pos,
.container,
.top-menu,
.body,
.vid-cnt,
.profile-cnt,
.livechat-cnt,
.accnt-cnt{
position:relative;
}

.ab-pos{
position:absolute;
}

.lfloat{
float:left;
}

.rfloat{
float:right;
}

.top-menu{
    background:#f7f7f7;
    width:100%;
    border-bottom:1px solid #d8d8d8;
    border-top:1px solid #d8d8d8;
    height:44px;
    line-height:44px;
    margin:0;
    text-align: center;
}

.top-menu p,
.quick-links{
    display:inline-block;
}

.quick-links{
    margin-left:12px;
}

.top-menu p{
    font-size:16px;
    font-weight:bold;
    letter-spacing:-1px;
}

.top-menu a{
    background:#fff;
    border:1px solid #d8d8d8;
    padding:7px 12px;
    margin:0 4px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:#000;
    font-size:14px;
    font-weight:bold;
}

.top-menu a:hover{
    border:1px solid #5cc8ff;
    color:#5cc8ff;
}

.body{
    border-bottom:1px solid #d8d8d8;
}

.col1,
.col2{
     float:left;
     padding:18px 2%;
}

.col3{
    width:40%;
    float:left;
}

.col4{
    width:60%;
    float:left;
}

.profile-cnt{
    margin-bottom:20px;
}

.profile-cnt a{
    float:left;
    color:#000;
    font-size:16px;
    background:url(../images/arrow.png) no-repeat top left;
    display:block;
    text-align:left;
    padding-left: 23px;
    height: 20px;
    margin-bottom: 10px;
}

.profile-cnt a:hover{
    color:#5cc8ff;
}

    .profile-cnt h3{
        font-weight:bold;
        font-size:18px;
        padding:0;
        margin:16px 0;
    }

.col1{
    width:36.8%;
    border-right:1px solid #d8d8d8;
    text-align:center;
    height: 408px;
}

    .col1 h2{
    font-size:30px;
    letter-spacing:-1px;
    margin:0;
    padding:0;
    line-height:20px;
   
    }

    .get-started{
        font-size:15px;
        color:#a6a6a6;
        text-transform:uppercase;
        display:block;
        letter-spacing:normal;
        font-weight:400;
    }

   .vid-cnt{
    margin-top:18px;
    }

.col2{
    width:55%;
}

/*button */
.btn
{
display: inline-block;
padding: 6px 20px 6px;
font-size: 14px;
line-height: 18px;
text-align: center;
background-repeat: no-repeat;
border:0;
cursor: pointer;
font-weight:normal;
font-family:Arial, Helvetica, sans-serif;
text-transform:none;
letter-spacing:normal;
margin-left: .3em;
}

.btn:hover
{
text-decoration: none;
background-color: #fff;
background-position: 0 -15px;
}

.btn-blue,
.btn-blue:hover,
a.btn-green,
a.btn-green:hover,
a.btn-blue,
a.btn-blue:hover
{
color: #fff;
text-transform:none;
}

.btn-blue
{
background: #006dcc;
}

.btn-blue:hover
{
background: #2488df ;
}


.btn-green
{
background: #338f3c;
color:#fff;
}

.btn-green:hover
{
background: #43b74e;
}

.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

.bnt-pad{
    margin-top:10px;
}

.chat-bubble{
    float:left;
    width:70.5%;
    background:#effaff;
    border:1px solid #d8f3ff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin:auto;
    text-align:center;
    padding: 2%;
    padding-bottom: 5%;
    margin: 0 4%;
    margin-left: 1%;
    position:relative;
}

.chat-bubble h2{
    font-weight:400;
}

.chat-agent{
    float:left;
}

.chat-pic{
    
    background:url(../images/chat-avatar.png) no-repeat top left;
    position: relative;
    float:right;
    width:82px;
    height:80px;
    border-radius:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    -khtml-border-radius:50px;
    border:1px solid #d0d0d0;
    position:absolute;
    -webkit-animation: slide_avatar 1s;
    
     
}

@-webkit-keyframes slide_avatar{
	from {right: -60px;}
	to {right:0;}
}

.arrow-right{
    background:url(../images/arrow-right.png) no-repeat top left;
    width:13px;
    height:24px;
    position:absolute;
    right: -12px;
    top: 28px;
}

button{
    background:#fff;
    font-family:"Arial";
    letter-spacing:-1px;
    cursor:pointer;
}

button:focus{
    outline:none;
}

.btn2{
    padding:6px 28px;
    font-weight:200;
    font-size:16px;
    text-align:center;
    -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
}

.bblue{
    color:#5cc8ff;
    border:2px solid #5cc8ff;
}

.bgreen{
    color:#338f3c;
    border:2px solid #338f3c;
    padding:6px 10px;
}

.accnt-cnt{
    border:1px solid #e7e7e7;
    margin-left: 1%;
    margin-top:20px;
}

.accnt-left{
    width:33.5%;
    min-height:278px;
    background:#f7f7f7;
    float:left;
    border-right:1px solid #e7e7e7;
    margin:aito;
    text-align:center;
    padding:3% 2%;
    position:relative;
}

    .accnt-left h2{
    font-size:15px;
    }

    .accnt-left img{
        width:91px;
        height:91px;
        border-radius:50px;
        -moz-border-radius:50px;
        -webkit-border-radius:50px;
        -khtml-border-radius:50px;
        margin-bottom:15px;
    }

    .btn-opacity{
        zoom: 1;
        filter: alpha(opacity=10);
        opacity: 0.1;
        pointer-events: none;
        cursor: default;
    }

    .emp-avatar:hover{
     cursor:pointer;
    }

    .emp-info{
        background:url(../images/info-icon.png?v=2) no-repeat top left;
        width:32px;
        height:32px;
        position:absolute;
        top:45px;
        right:25px;
    }

.accnt-right{
    width:62%;
    float:left;
}

    .message-cnt{
        position:relative;
        margin:12px 0;
        border-bottom:1px solid #e7e7e7;
        padding-bottom:10px;
    }

    .message-cnt textarea{
        width:91%; 
        height:214px;
        margin:0 4%;
        margin-right:5%;
        border:none;
        font-size:14px;
        font-family:"Arial";
    }

::-webkit-input-placeholder {
   color: #cbcbcb;
   font-family:"Arial";
   font-size:14px;
}

:-moz-placeholder { /* Firefox 18- */
   color: #cbcbcb;
   font-family:"Arial";
   font-size:14px;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: #cbcbcb;
    font-family:"Arial";
    font-size:14px;
}

:-ms-input-placeholder {  
    color: #cbcbcb;
    font-family:"Arial";
    font-size:14px;
}

.employee-info{
    display:none;
}

    .emp-title{
        border-bottom:1px solid #e7e7e7;
        text-align:center;
        padding:12px;
    }

    .emp-blurb{
        padding:15px;
        padding-bottom:5px;
        overflow-y:auto;
        height:180px;
        line-height:18px;
        font-size:13px;
        color:#333;
    }

    .emp-title h2{
        margin:0;
        padding:0;
    }

    .emp-title p{
        padding-bottom:0;
        margin-bottom:0;
        color:#979797;
        font-weight:bold;
        font-size:20px;
    }


.footer{
    position:relative;
    margin:auto;
    text-align:center;
    margin-top:12px;
}

.r_show{
    display:block;
}

.r_hide{
    display:none;
}


