@charset "utf-8";
/* CSS Document */

body
	{
	margin: 0px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	color: #333;
	font-size: 12px;
	background: #fff url(images/bg2.png) repeat-x 0px -400px;
	background: #fff;
	}

a
	{
	color: #3366FF;
	text-decoration: none;
	}

	.fh
		{
		height: 100%;
		padding: 0px !important;
		margin: 0px auto !important;
		}

	h1.important
		{
		font-size: 26px;
		font-weight: normal;
		background: url(images/sign-in-icon.png?r=1) left no-repeat;
		padding-left: 40px;
		height: 32px;
		margin: 0px;
		margin-bottom: 10px;
		letter-spacing: -1px;
		}

.exloading
	{
	background: url(images/tload.gif) no-repeat right;
	}

.loading canvas
	{
	background: url(images/loading.gif) no-repeat 10px 10px;
	}

.login
	{
	background: url(images/login2.jpg) no-repeat bottom center;
	}

td.label
	{
	font-weight: bold;
	text-transform: uppercase;
	}

	div.tbtitle
		{
		padding: 5px;
		text-align: left;
		font-weight: bold;
		text-transform: uppercase;
		background: #92b9ce;
		color: #fff;
		cursor: pointer;
		display: none;
		}

div.flexigrid
	{
	border: 0px solid #deecfd;
	margin-left: 15px;
	}

/* login forms */

div.signin
	{
	margin-right: 40px;
	padding: 10px;
	}

	.frow label
		{
		width: 100px;
		margin-right: 10px;
		display: block;
		float: left;
		text-align: right;
		}

	.frow .tb
		{
		}

	.frow
		{
		margin-bottom: 5px;
		}


	.hlite
		{
		color: #f00;
		}

	a.zip, a.xls, a.xlsx, a.csv, a.pdf, b.user, b.password
		{
		padding-left: 20px;
		background-repeat: no-repeat;
		background-position: left center;
		display: block;
		height: 16px;
		}

	a.zip {background-image: url(images/zip.png)}
	a.xls, a.xlsx, a.csv {background-image: url(images/xls.png)}
	b.user {background-image: url(images/vcard.png)}
	b.password {background-image: url(images/key.png)}


	span.gmap
		{
		cursor: pointer;
		padding: 3px;
		padding-left: 20px;
		background: url(images/vsearch.png) no-repeat left;
		display: none;
		color: #3366FF;
		}

	i.beta
		{
		font-style: normal;
		font-size: 9px;
		vertical-align: text-top;
		color: #f00;
		}

						.button
							{
							border:1px solid #ccc;
							border-radius: 2px;
							background: url(images/filbg2.png) repeat-x 0px -5px;
							padding:0;
							width:auto;
							overflow:visible;
							cursor:pointer;
							margin: 0px 1px;
							}

							.button:hover
								{
								border-color: #aaa;
								box-shadow: 0 0 5px #ccc;
								}

						.button b
							{
							padding-bottom:6px;
							padding-top: 5px;
							padding-left: 12px;
							padding-right: 6px;
							line-height: 16px;
							color:#677a89;
							display:block;
							white-space:nowrap;
							font-family: Arial, Helvetica, sans-serif;
							font-size: 12px;
							font-weight: bold;
							margin: 0px;
							cursor: pointer;
							}

						.button span
							{
							margin: 0px;
							display:block;
							padding-right: 6px;
							margin:0px;
							cursor: pointer;
							}



.errorbox
	{
	width: 500px;
	position: absolute;
	z-index: 999;
	top: 10px;
	left: 10px;
	border: 5px solid #ccc;
	background: #ccc;
	}

	.errortitle
		{
		color: #c00;
		background: #c00 url(images/error.png) no-repeat 5px center;
		background: #fafafa url(../flexigrid/images/fhbg.gif) repeat-x bottom;
		padding: 10px;
		padding-left: 25px;
		font-weight: bold;
		}

	.errorcontent
		{
		padding: 10px;
		background: #fff;
		min-height: 100px;
		}

	.errorcontrol
		{
		padding: 5px;
		text-align: right;
		background: #fff;
		border-top: 1px solid #ccc;
		color: #888;
		}


		.memnav
			{
			height: 38px;
			margin-top: 5px;
			margin-left: 15px;
			}

			.memnav a, .navmenu a, .wigcontrols a
				{
				float: left;
				display: block;
				position: relative;
				color: #677a89;
				padding: 6px 10px;
				margin-bottom: 3px;
				background: url(images/filbg2.png) repeat-x 0px 10px #fff;
				border: 1px solid #ccc;
				border-radius: 2px;
				margin-right: 5px;
				}

				.memnav a:hover
					{
					border: 1px solid #aaa;
					box-shadow: 0 0 5px #ccc;
					z-index: 2;
					}

				.memnav a span b
					{
					float: left;
					display: block;
					width: 16px;
					height: 16px;
					background-repeat: no-repeat;
					background-position: center;
					position: relative;
					margin-right: 4px;
					top: -1px;
					}

		span.Print b {background: url(images/printer.png) no-repeat left;}
		span.Refresh b {background: url(../flexigrid/images/load.png) no-repeat left;}
		span.Next b {background: url(../flexigrid/images/next.gif) no-repeat left;}
		span.Back b {background: url(../flexigrid/images/prev.gif) no-repeat left;}
		span.broot b {background: url(images/arrow_undo.png) no-repeat left;}
		span.vmap b {background: url(images/chart_organisation.png) no-repeat left;}
		span.chart b {background: url(images/chart.png) no-repeat left;}
		span.Window b {background: url(images/nw.png) no-repeat left;}
		span.pdf b {background: url(images/pdf.png) no-repeat left;}

		.flexme
			{
			text-transform: uppercase;
			}


#left-container
	{
	right: -10px !important;
	}



	.sysalerts
		{
		width: 540px;
		margin: 10px;
		}

		.sysitem b
			{
			padding: 5px;
			padding-left: 25px;
			background: url(images/comment.png) no-repeat 5px 5px;
			color: #777;
			}

/* form2 */

		.f-row
			{
			margin-bottom: 10px;
			clear: both;
			float: left;
			}

		.f-label
			{
			float: left;
			width: 120px;
			margin-right: 10px;
			text-align: right;
			}

		.f-input
			{
			float: left;
			width: 400px;
			}

		.clear
			{
			display: block;
			}


	.tb
		{
		outline: none;
		padding: 5px 5px;
		border: 1px	 solid #ccc;
		border-radius: 2px;
		-webkit-appearance: none;
		color: #777;
		font-size: 13px;
		line-height: 13px;
		font-family:Arial;
		box-shadow: inset 0 0 3px #ddd;
		vertical-align: middle;
		}

		.tb:focus
			{
			border: 1px solid #aaa;
			box-shadow: inset 0 0 3px #ccc;
			}

#flex1 b,
.flexme b
{
	color: #C00;
}

body
	{
	margin: 0px;
	padding: 0px;
/*	min-width: 800px;*/
    top:-5px;
    position:relative;

	}

.ph-head h1
	{
	margin: 0px;
	font-weight: normal;
	font-size: 24px;
	color: #fff;
	position: absolute;
	top: 15px;
	left: 230px;
	border-left: 1px dotted #fff;
	padding-left: 10px;
	}

	.ph-head
		{
		background: #3d3d3d;
		height: 60px;
		border-top: 5px solid #2f2f2f;
		color: #ccc;
		position: relative;
        padding-left:12px;
		}

		.ph-head-sub
			{
			background: #eee;
			padding: 20px;
			}


    .bulb-shadow {
            background: url(../iscan2/images/bulb-shadow.png) no-repeat top left;
            display: block;
            width: 183px;
            height: 60px;
            position: absolute;
            left: -75px;
            }

    .logo-bulb {
    display: block;
    width: 36px;
    height: 50px;
    background-size: 36px 50px;
    background: url(../iscan2/images/logo-sr.png) no-repeat top left;
    position: absolute;
    top: 5px;
    }

    .logo {
    display: block;
    width: 160px;
    height: 27px;
    background-size: 160px 27px;
    background: url(../iscan2/images/cname-sr.png) no-repeat top left;
    position: absolute;
    top: 18px;
    left: 56px;
    }


	#infovis
		{
		padding: 20px;
		}

.tooltip
	{
	background: beige;
	padding: 10px;
	border: 1px solid #ccc;
	width: 200px;
	font-size: 11px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	}

.stb {
	/*outline: none;*/
	padding: 5px 5px;
	border: 1px solid #ccc;
	border-radius: 2px;
	/*-webkit-appearance: none;*/
	color: #777;
	font-size: 13px;
	line-height: 13px;
	font-family: Arial;
	box-shadow: inset 0 0 3px #ddd;
	vertical-align: middle;
	width: 151px;
}

.hidden {
    display: none;
}

.new-widget{
    position: absolute;
	background: #fff;
	width: 500px;
	box-shadow: 0 0 15px 5px #c7cbd0;
	z-index: 50;
	top: 15px;
	padding-bottom: 18px;
	left: -69px;
}

.lc_top_arrow{

    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #fff;
	position: absolute;
	left: 181px;
	top: 303px;
}

.section-widget{
    line-height:18px;
}

.inner-widget{
    padding:15px;
}

.inner-widget p{
    width:100%;
    float:left;
}

.widget-header{
    margin-bottom:12px;
    float:left;
}

.widget-header h2{
    margin:0;
    padding:0;
    float:left;
    width:100%;
}

.widget-header a{
    float:right;
    text-align:right;
    font-weight: bold;
    color: #333;
    text-transform: lowercase;
    position:absolute;
    top:6px;
    right:6px;
    font-size: 18px;
}

.widget-header a:hover{
    color:red;
}

.powered-title{
    color:#939191;
    font-weight:bold;
    font-size:14px;
    text-align:center;
}

.product-term{
    color:#c82d14;
    font-weight:bold;
}

.widget-btn{
    padding:15px;
    position:relative;
    border-top:1px solid #e8e8e8;
    margin-top: 6px;
}

.wcol50{
    width:50%;
    float:left;
}

.wcol50 a{
    color:#7e7e7e;
}

.wcol50 a:hover{
    text-decoration:underline;
}

.rfloat{
    float:right;
    text-align:right;
}

.wcol50 a.nbtn{
    float:left;
    background: url(images/have.png) no-repeat center -11px;
    padding: 7px 16px;
    border: 1px solid #f0673d;
    position: relative;
    color: #fff;
    line-height: 11px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0px -1px 0px #f0673d;
    font-size:12px;
    letter-spacing:1px;
}

.hidden {
    display: none;
}

.wcol50 a.nbtn:hover{
    -webkit-box-shadow: #999 0 0 20px;
    -moz-box-shadow: #999 0 0 20px;
    box-shadow: #999 0 0 20px;
    text-decoration:none;
}

.d-show{
    float:right;
    margin-top:12px;
    text-align:right;
}