@charset "utf-8";
/* CSS Document */

body
	{
	}

.prpanel
	{
	float:left; 
	width: 300px;
	overflow: hidden;
	}

.prpanel h1
	{
	font-size: 36px;
	font-weight: normal;
	margin: 0px;
	letter-spacing: -1px;
	color: #000;
	}
	
.prpanel h2
	{
	font-size: 24px;
	font-weight: normal;
	margin: 0px;
	letter-spacing: -1px;
	}
	
.prbuttons
	{
	width: 320px;
	}
	
.prbuttons a
	{
	font-weight: bold;
	margin-right: 10px;
	display: block;
	float: left;
	position: relative;
	top: 20px;
	}

ul.check
	{
	list-style: none;
	margin: 10px;
	padding: 0px;
	}
	
	.check li
		{
		padding-left: 20px;
		padding-bottom: 5px;
		background: url(../default/images/accept.png) no-repeat left top;
		line-height: 16px;
		vertical-align: top;
		}
	
a.pryes
	{
	background: url(images/yes.png) no-repeat;
	width: 131px;
	height: 58px;
	top: 0px;
	margin-left: -10px;	
	}
	
.pryes span
	{
	display: none;
	}
	
li b, li strong
	{
	color: red;
	}
	
						.button
							{
							border:0px;
							background:none;
							padding:0;
							width:auto;
							overflow:visible;
							cursor:pointer;
							margin: 0px 1px;
							}
						
						.button b
							{
							background: url(images/buttonbg.png) no-repeat left top;
							padding-bottom:6px;
							padding-top: 5px;
							padding-left: 12px;
							padding-right: 6px;
							line-height: 16px;
							color:#677a89;
							display:block;
							white-space:nowrap;
							font-family: Arial, Helvetica, sans-serif;
							font-size: 12px;
							font-weight: bold;
							margin: 0px;
							cursor: pointer;
							}
							
						.button span
							{
							margin: 0px;
							display:block;
							background: url(images/buttonbg.png) no-repeat right -27px;
							padding-right: 6px;
							margin:0px;
							cursor: pointer;
							}												

							.button:hover b
								{
								/* background-position: left -54px; */
								}
							
								.button:hover span
									{
									/* background-position: left -81px; */
									}

		