body
	{
	background: url(images/filbg2.png) repeat-x top #ced7de;
	margin: 0px;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2d343a;
	}

a
	{
	color: #1c425c;
	text-decoration: none;
	outline: none;
	}

a img
	{
	border: 0px;
	}

p, h1
	{
	margin: 0px;
	margin-bottom: 10px;
	}

	h1
		{
		color: #677a89;
		font-size: 24px;
		font-weight: normal;
		letter-spacing: -1px;
		}

	.flexigrid
		{
		}

form
	{
	margin: 0px;
	}

	.tb
		{
		outline: none;
		padding: 5px 10px;
		border: 1px	 solid #ccc;
		border-radius: 2px;
		-webkit-appearance: none;
		color: #777;
		font-size: 13px;
		line-height: 13px;
		font-family:Arial;
		box-shadow: inset 0 0 3px #ddd;
		vertical-align: middle;
		}

		.tb:focus
			{
			border: 1px solid #aaa;
			box-shadow: inset 0 0 3px #ccc;
			}

		.tb_search
			{
			border-radius: 50px;
			}

	.indate
		{
		background: url(images/calbg.png) no-repeat 5px center;
		padding-left: 25px;
		border: 0px;
		cursor: pointer;
		box-shadow: none;
		}

		.indate:focus
			{
			background: url(images/calbg.png) no-repeat 5px center #121212;
			color: #fff;
			border: 0;
			box-shadow: none;
			}


.header
	{
	height: 50px;
	position: relative;
	}

	.sysalerts
		{
		position: absolute;
		margin-left: 218px;
		margin-right: 300px;
		top: 10px;
		overflow: hidden;
		}

		.sysitem
			{
			padding: 5px;
			padding-left: 25px;
			background: url(images/comment.png) no-repeat 5px 5px;
			color: #777;
			white-space: nowrap;
			}

	#logo2
		{
		width: 218px;
		height: 50px;
		background: url(images/logo.png) no-repeat;
		position: absolute;
		top: 0px;
		left: 0px;
		}

	.memnav
		{
		position: absolute;
		right: 5px;
		top: 10px;
		z-index: 2;
		}

			.memnav a, .navmenu a
				{
				float: left;
				display: block;
				position: relative;
				color: #677a89;
				background: url(images/buttonbg.png) no-repeat right -27px;
				padding-right: 6px;
				cursor: pointer;
				}

				a.nleft
					{
					padding-right: 0px;
					}

				a.nmid
					{
					padding-right: 0px;
					}

				.memnav a:hover
					{
					box-shadow: 0 0 5px #ccc;
					z-index: 2;
					}

				.memnav a.nright:hover
					{
					}

				.memnav a span, .navmenu a span
					{
					display: block;
					background: url(images/buttonbg.png?v=3) no-repeat left top;
					float: left;
					font-weight: bolder;
					padding-left: 6px;
					padding-right: 6px;
					padding-top: 6px;
					padding-bottom: 5px;
					line-height: 14px;
					}

					a.nright span
						{
						padding-right: 0px;
						}

				.memnav a span b
					{
					float: left;
					display: block;
					width: 16px;
					height: 16px;
					background-repeat: no-repeat;
					background-position: center;
					position: relative;
					margin-right: 4px;
					top: -1px;
					cursor: pointer;
					}

					span.usersaccount b { background-image: url(images/group.png) }
					span.myaccount b { background-image: url(images/user.png) }
					span.logout b { background-image: url(images/door.png) }
					span.lchat b { background-image: url(images/comment.png) }
					span.help b { background-image: url(images/help.png) }
					span.ssearch b { background-image: url(images/search.png) }
					span.vsearch b { background-image: url(images/vsearch.png) }

					a.nmid span, a.nright span
						{
						background-position: -6px 0px;
						border-left: 1px solid #ccc;
						}


						.button
							{
							border:1px solid #ccc;
							border-radius: 2px;
							padding:0;
							width:auto;
							overflow:visible;
							cursor:pointer;
							margin: 0px 1px;
							vertical-align: middle;
							border-radius: 3px;
							outline: none;
							background: url(images/filbg2.png) repeat-x 0px 10px #fff;
							}

							.button:hover
								{
								border-color: #aaa;
								box-shadow: 0 0 5px #ccc;
								}

						.button label, .button b, .button i
							{
							padding-bottom:6px;
							padding-top: 5px;
							padding-left: 12px;
							padding-right: 6px;
							line-height: 16px;
							color:#677a89;
							text-shadow: 0 1px #fff;
							display:block;
							white-space:nowrap;
							font-family: Arial, Helvetica, sans-serif;
							font-size: 12px;
							font-weight: bold;
							margin: 0px;
							width: auto;
							float: none;
							}

						.button span
							{
							margin: 0px;
							display:block;
							padding-right: 6px;
							margin:0px;
							}

						.addb, .subb
							{
							border: 0px;
							height: 16px;
							width: 16px;
							vertical-align: middle;
							}

						.addb { background: url(images/add.png) no-repeat center; }
						.subb { background: url(images/close.png) no-repeat center; }
						.exb { background: url(images/xls.png) no-repeat center left; }
						.pdf { background: url(images/pdf.png) no-repeat center left; }
						.svb { background: url(images/table2.png) no-repeat center left; }
						.svb2 { background: url(images/email_go.png) no-repeat center left; }
						.tgb { background: url(images/table_gear.png) no-repeat center left; }

			.chatlive
				{
				margin-right: 10px;
				}

			.memnav a.hlight
				{
				background: url(images/have.png) no-repeat center -11px;

				padding: 7px 12px;
				border: 1px solid #f0673d;

				position: relative;
				top: -100px;
				margin-right: 10px;

				color: #fff;
				line-height: 11px;
				font-weight: bold;

				-webkit-border-radius: 4px;
				-moz-border-radius: 4px;
				border-radius: 4px;


				-webkit-box-shadow: #999 0px 5px 20px;
				-moz-box-shadow: #999 0px 5px 20px;
				box-shadow: #999 0px 5px 20px;


				text-shadow: 0px -1px 0px #f0673d;

				}

			.memnav a.hlight:hover
				{

				-webkit-box-shadow: #fff 0px 5px 20px;
				-moz-box-shadow: #fff 0px 5px 20px;
				box-shadow: #fff 0px 5px 20px;


				}



.body
	{
	border: 1px solid #ccc;
	background: #fff;
	padding: 1px;
	box-shadow: 0 0 3px #ccc;
	}

	.content
		{
		background: #fff;
		position: relative;
		width: 100%;
		overflow: visible;
		}

				.pstype
					{
					position: absolute;
					top: 6px;
					right: 12px;
					padding-top: 6px;
					color: #888;
					text-shadow: 0 1px #fff;
					}

				.ptitle
					{
					background: #fafafa url(../flexigrid/images/fhbg.gif) repeat-x bottom;
					color: #7c858d;
					font-weight: bold;
					height:  27px;
					padding-top: 6px;
					padding-left: 6px;
					position: relative;
					}

					.ptitle a
						{
						padding: 6px;
						padding-bottom: 5px;
						display:  block;
						float: left;
						border-right: 1px solid #ccc;
						border-left: 1px solid #ccc;
						border-top: 1px solid #ccc;
						margin-right: 2px;
						text-shadow: 0 1px #fff;
						}

					.ptitle a:hover
						{
						background: url(images/filbg2.png) repeat-x #fff -50px -50px;
						}

						.ptitle a.psel
							{
							background: #fafafa;
							padding-bottom: 6px;
							}

						.ptitle a.psel:hover
							{
							background: #fafafa;
							color: #1c425c;
							}


		.filter
			{
			padding: 10px;
			background: url(images/filbg2.png) repeat-x top #ced7de;
			}

			.fcond
				{
				margin-top: 5px;
				margin-right: 10px;
				}

			.fpane table
				{
				float: left;
				}

			.fpane table th
				{
				text-align: left;
				}

			.fpane th, .fpane td
				{
				padding: 2px;
				}


			.scontrols
				{
				margin-top: 5px;
				}

			.allotment
				{
				margin-top: 5px;
				}

			.tip
				{
				font-weight: normal;
				color: #888;
				}

			.comment
				{
				background: url(images/comment.png) no-repeat 5px 10px #d7e8fd;
				border: 1px solid #fff;
				padding: 10px;
				padding-left: 25px;
				display: block;
				margin-bottom: 5px;
				box-shadow: inset 0 0 3px #a8adaf;
				border-radius: 2px;
				color: #719ed6	;
				text-shadow: 0px 1px #fff;
				}

			.error
				{
				margin-bottom: 5px;
				padding: 10px;
				display: block;
				background: url(images/error.png) no-repeat 11px 8px #fcf8e3;
				box-shadow: inset 0 0 3px #a8adaf;
				border-radius: 2px;
				color: #c09853;
				text-shadow: 0px 1px #fff;
				padding-left: 35px;
				padding-top: 5px;
				}


		#togview
			{
			clear: both;
			border: 1px solid #ccc;
			margin-top: 5px;
			}

			.togclick
				{
				display: none;
				}

			.vfields
				{
				border: 0px solid #fff;
				padding: 10px;
				padding-bottom: 5px;
				box-shadow: inset 0 0 3px #ccc;
				background: #eee;
				}

			.vblock
				{
				font-size: 11px;
				float: left;
				width: 150px;
				padding: 5px;
				margin-right: 5px;
				margin-bottom: 5px;
				background: #ddd;
				box-shadow: inset 0 0 3px #ccc;
				border-radius: 2px;
				}

				.vblock:hover
					{
					box-shadow: inset 0 0 3px #999;
					}

				.vblock label
					{
					color: #555;
					padding-left: 5px;
					text-shadow: 0 1px #fff;
					}





		.hlite
			{
			color: #c00;
			font-weight: bolder;
			}

				a.view
					{
					display: block;
					margin: auto;
					width: 16px;
					height: 16px;
					background: url(images/search.png) no-repeat center;
					clear: both;
					}

					a.view2
						{
						background: url(images/magnifierb.gif) no-repeat center;
						}

				.load
					{
					background: url(images/load3.gif) no-repeat 5px 10px #d7e8fd;
					border: 1px solid #fff;
					padding: 10px;
					color: #719ed6;
					padding-left: 25px;
					text-shadow: 0 1px #fff;
					box-shadow: inset 0 0 3px #ccc;
					}


				.loading canvas
					{
					/* background: url(images/loading.gif) no-repeat 10px 10px; */
					background: url(images/vload.gif) no-repeat center;
					}


		.resultmap
			{
			margin-left: 210px;
			padding-bottom: 33px;
			}

		.resultindex
			{
			position: absolute;
			left: 0px;
			top: 26px;
			width: 200px;
			}

		#resultbar
			{
			background: #fafafa url(../flexigrid/images/bg.gif) repeat-x left 0px;
			border-bottom: 1px solid #ddd;
			border-top: 0px solid #ddd;
			overflow: hidden;
			height: 11px;
			padding: 7px;
			}

			#resultbar-inner
				{
				}

		.rindexcontrol
			{
			padding: 10px;
			text-align: center;
			}

		.ri a
			{
			display: block;
			padding: 5px;
			border-bottom: 1px solid #ccc;
			background: url(images/filbg2.png) repeat-x top #ced7de;
			border-right: 1px solid #ccc;
			color: #333;
			}

			.ri a span
				{
				display: block;
				padding-right: 20px;
				background: url(images/chart_organisation.png) no-repeat right center;
				}

		.ri a.selected
			{
			color: #1c425c;
			background: none;
			border-right: 0px;
			text-align: right;
			font-weight: bold;
			}

			.ri a.selected span
			{
			background: no-repeat;
			padding-right: 0px;
			}


		.node
			{
			width: 100px;
			}


		.exportdiv, .savediv
			{
			margin-top: 10px;
			}

           #TB_window .addmore-exprow a.hlight{
            color: #fff;
        }

        #TB_ajaxContent .addmore-exprow{
            margin:0;
            padding:0;
        }

            .addmore-exprow a.hlight{
                background: url(images/have.png) no-repeat center -11px;
                padding: 7px 12px;
                border: 1px solid #f0673d;
                position: relative;
                margin-right: 10px;
                color: #fff;
                line-height: 11px;
                font-weight: bold;
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                text-shadow: 0px -1px 0px #f0673d;

            }

            .addmore-exprow a.tbnt{
                    float:left;
                    margin-bottom:5px;
                }

             .addmore-exprow a.hlight:hover{

                -webkit-box-shadow: #999 0 0 20px;
                -moz-box-shadow: #999 0 0 20px;
                box-shadow: #999 0 0 20px;
                }

            .addprd{
                margin-top:20px;
                background:#d7e8fd;
                border: 1px solid #fff;
                padding:8px 10px;
                padding-bottom:0;
                margin-bottom: 5px;
                box-shadow: inset 0 0 3px #a8adaf;
                border-radius: 2px;
                color: #000;
                text-shadow: 0px 1px #fff;
                margin:auto 0;
                text-align:center;
                position:relative;
            }

            .addprd p,
            .addprd a{
            display:inline-block;
            }

			.frow .label
				{
				width: 120px;
				margin-right: 10px;
				display: block;
				float: left;
				text-align: right;
				}

			.frow .tb
				{
				width: 240px;
				}

			.frow
				{
				margin-bottom: 5px;
				}

/* form2 */

		.f-row
			{
			margin-bottom: 10px;
			clear: both;
			float: left;
			}

		.f-label
			{
			float: left;
			width: 120px;
			margin-right: 10px;
			text-align: right;
			}

		.f-input
			{
			float: left;
			width: 400px;
			}

		.clear
			{
			display: block;
			}


			a.zip, a.xls, a.xlsx, a.csv, a.pdf, b.user, b.password, a.retry-icon, a.q-icon, a.emailto
				{
				padding-left: 20px;
				line-height: 16px;
				vertical-align: middle;
				background-repeat: no-repeat;
				background-position: left center;
				display: block;
				height: 16px;
				}

			a.zip {background-image: url(images/zip.png)}
			a.xls, a.xlsx, a.csv {background-image: url(images/xls.png)}
			a.retry-icon{background-image: url(images/redo.png)}
			a.emailto{background-image: url(images/email_go.png)}
			a.q-icon
				{
				background-image: url(images/x.png);
				}

			a.dbutton
				{
				margin-top: 5px;
				padding: 5px 5px;
				padding-left: 25px;
				border: 1px solid #bbb;
				background-position: 5px center;
				background-color: #fff;
				border-radius: 3px;
				box-shadow: 0 0 3px #ccc;
				}

				a.dbutton:hover
					{
					border-color: #999;
					}


			.grayed
				{
				color: #999;
				}

			#flex1
				{
				text-transform: uppercase;
				}


.footer
	{
	padding: 10px;
	color: #777;
	}

.errorbox
	{
	width: 500px;
	position: absolute;
	z-index: 999;
	top: 10px;
	left: 10px;
	border: 5px solid #ccc;
	background: #ccc;
	}

	.errortitle
		{
		color: #c00;
		background: #c00 url(images/error.png) no-repeat 5px center;
		background: #fafafa url(../flexigrid/images/fhbg.gif) repeat-x bottom;
		padding: 10px;
		padding-left: 25px;
		font-weight: bold;
		}

	.errorcontent
		{
		padding: 10px;
		background: #fff;
		min-height: 100px;
		}

	.errorcontrol
		{
		padding: 5px;
		text-align: right;
		background: #fff;
		border-top: 1px solid #ccc;
		color: #888;
		}


/* trial app */

	.blur
		{
		width: 100%;
		height: 16px;
		background: url(images/blur.gif) repeat-x center;
		}

		.blur2
			{
			float: right;
			}


/* progbar */

	.progtitle
		{
		text-align: center;
		margin: 10px;
		padding-top: 80px;
		background: url(images/loading.gif) no-repeat 300px 60px;
		font-size: 16px;
		color: #777;
		}

	.progbar
		{
		width: 100%;
		height: 33px;
		margin-bottom: 10px;
		background: #eee;
		border: 1px solid #aaa;
		overflow: hidden;
		box-shadow: inset 0 0 3px #aaa;
		-moz-border-radius: 4px;
		border-radius: 2px;

		}

		.progbar-inner
			{
			background: url(images/prog.png) repeat-x #97db6e;
			height: 33px;
			width: 30%;
			border: 1px solid #5d7f43;
			position: relative;
			top: -1px;
			left: -1px;
			-moz-border-radius: inherit;
			border-radius: inherit;
			}

		#progcancel
			{
			}

		.progtext
			{
			text-align: center;
			}

		table th[abbr=fport_s] div a.help,
		table th[abbr=countryoforigin_s] div a.help
		{
			display: block;
			float: right;
			background: url(images/help.png) no-repeat center;
			width: 16px;
			height: 16px;
			float: right;
			margin: -2px 40px 0 0;
		}
		.twipsy {
		z-index: 12000;
		}
		.twipsy {
		  display: block;
		  position: absolute;
		  visibility: visible;
		  padding: 5px;
		  font-size: 11px;
		  z-index: 1000;
		  filter: alpha(opacity=80);
		  -khtml-opacity: 0.8;
		  -moz-opacity: 0.8;
		  opacity: 0.8;
		}
		.twipsy.fade.in {
		  filter: alpha(opacity=80);
		  -khtml-opacity: 0.8;
		  -moz-opacity: 0.8;
		  opacity: 0.8;
		}
		.twipsy.above .twipsy-arrow {
		  bottom: 0;
		  left: 50%;
		  margin-left: -5px;
		  border-left: 5px solid transparent;
		  border-right: 5px solid transparent;
		  border-top: 5px solid #000000;
		}
		.twipsy.left .twipsy-arrow {
		  top: 50%;
		  right: 0;
		  margin-top: -5px;
		  border-top: 5px solid transparent;
		  border-bottom: 5px solid transparent;
		  border-left: 5px solid #000000;
		}
		.twipsy.below .twipsy-arrow {
		  top: 0;
		  left: 50%;
		  margin-left: -5px;
		  border-left: 5px solid transparent;
		  border-right: 5px solid transparent;
		  border-bottom: 5px solid #000000;
		}
		.twipsy.right .twipsy-arrow {
		  top: 50%;
		  left: 0;
		  margin-top: -5px;
		  border-top: 5px solid transparent;
		  border-bottom: 5px solid transparent;
		  border-right: 5px solid #000000;
		}
		.twipsy-inner {
		  padding: 3px 8px;
		  background-color: #000000;
		  color: white;
		  text-align: center;
		  max-width: 200px;
		  text-decoration: none;
		  -webkit-border-radius: 4px;
		  -moz-border-radius: 4px;
		  border-radius: 4px;
		}
		.twipsy-arrow {
		  position: absolute;
		  width: 0;
		  height: 0;
		}


		.fade {
			-moz-transition: opacity 0.15s linear 0s;
			opacity: 0;
		}
		.fade.in {
			opacity: 1;
		}


.hint-list
	{
	border-top: 1px dotted #fff;
	margin: 0;
	margin-top: 5px;
	padding: 5px;
	padding-left: 20px;
	}

.etabs
	{
	height: 33px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
	position: relative;
	left: -16px;
	width: 100%;
	top: -10px;
	padding-top: 11px;
	padding-right: 30px;
	background: url(images/filbg2.png) repeat-x top #ced7de;
	background: #fff;
	}

	.etabs a
		{
		margin-left: 5px;
		display: block;
		float: left;
		padding: 10px 10px;
		line-height: 12px;
		height: 12px;
		border: 1px solid #ccc;
		border-bottom: 0px;
		background: #eee;
		background: url(images/filbg2.png) repeat-x top #ced7de;
		font-weight: bold;
		}

		.etabs a.sel, .etabs a:hover
			{
			border-bottom: 1px solid #fff;
			background: #fff;
			}

		.exb b
			{
			display: inline-block;
			padding: 1px 5px;
			margin-left: 5px;
			color: #fff;
			background: red;
			border-radius: 3px;
			box-shadow: 0 0 2px #999;
			}



.styledSelect {
    width: 110px;
    font-size: 12px;
    height: 27px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    position: relative;
    float: left;
    background: url(images/buttonbg.png);
    margin: 0 10px 0 0;
    border-right: 1px solid #b9b9b9;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
	position: relative;

}

.dropdown
{
	width: 14px;
	height: 7px;
	background: url(images/dropdown.png) no-repeat;
	position: absolute;
	top: 10px;
	right: 5px;
}

.overflow
{
	overflow: hidden;
}

.country-selector
{
    display: none
}
.styledSelect ul {
    list-style: none;
    padding: 1px;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-indent: 12px;
}
.styledSelect.open ul {
    border: 1px solid #b9b9b9;
    padding: 0px;
    border-radius: 3px;
}


.styledSelect.open ul li.disabled
{
	color: #d7e2ea;
}

.styledSelect.open ul li.disabled:hover
{
	color: #677A89;
}


.styledSelect ul li a
{
    background: none;
}

.styledSelect ul li {
    font-family: sans-serif;
    margin: 0;
    padding: 2px 25px 3px 10px;
    display: block;
    color: #677A89;
    font-weight: bolder;
    text-indent: 20px;
    cursor: pointer;
}

.styledSelect ul li[rel=ar].active:hover,
.styledSelect ul li[rel=ar]
{
    background: url(flags/ar.png) no-repeat 5px 7px;
}

.open ul li[rel=ar].active:hover,
.styledSelect ul li[rel=ar]:hover
{
	background: #d5dce2 url(flags/ar.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=co].active:hover,
.styledSelect ul li[rel=co]
{
    background: url(flags/co.png) no-repeat 5px 7px;
}

.open ul li[rel=co].active:hover,
.styledSelect ul li[rel=co]:hover
{
    background: #d5dce2 url(flags/co.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=py].active:hover,
.styledSelect ul li[rel=py]
{
    background: url(flags/py.png) no-repeat 5px 7px;
}

.open ul li[rel=py].active:hover,
.styledSelect ul li[rel=py]:hover
{
    background: #d5dce2 url(flags/py.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=mx]
{
    background: url(flags/mx.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=mx]:hover
{
    background: #d5dce2 url(flags/mx.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=uy].active:hover,
.styledSelect ul li[rel=uy]
{
    background: url(flags/uy.png) no-repeat 5px 7px;
}

.open ul li[rel=uy].active:hover,
.styledSelect ul li[rel=uy]:hover
{
    background: #d5dce2 url(flags/uy.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=ve].active:hover,
.styledSelect ul li[rel=ve]
{
    background: url(flags/ve.png) no-repeat 5px 7px;
}

.open ul li[rel=ve].active:hover,
.styledSelect ul li[rel=ve]:hover
{
    background: #d5dce2  url(flags/ve.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=pa].active:hover,
.styledSelect ul li[rel=pa]
{
    background: url(flags/pa.png) no-repeat 5px 7px;
}

.open ul li[rel=pa].active:hover,
.styledSelect ul li[rel=pa]:hover
{
    background: #d5dce2 url(flags/pa.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=pe].active:hover,
.styledSelect ul li[rel=pe]
{
    background: url(flags/pe.png) no-repeat 5px 7px;
}

.open ul li[rel=pe].active:hover,
.styledSelect ul li[rel=pe]:hover
{
    background: #d5dce2 url(flags/pe.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=ec].active:hover,
.styledSelect ul li[rel=ec]
{
    background: url(flags/ec.png) no-repeat 5px 7px;
}

.open ul li[rel=ec].active:hover,
.styledSelect ul li[rel=ec]:hover
{
    background: #d5dce2 url(flags/ec.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=br]
{
    background: url(flags/br.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=cl].active:hover,
.styledSelect ul li[rel=cl]
{
    background: url(flags/cl.png) no-repeat 5px 7px;
}

.open ul li[rel=cl].active:hover,
.styledSelect ul li[rel=cl]:hover
{
    background: #d5dce2 url(flags/cl.png) no-repeat 5px 7px;
}

.styledSelect ul li[rel=us].active:hover,
.styledSelect ul li[rel=us]
{
    background: url(flags/us.png) no-repeat 5px 7px;
}

.open ul li[rel=us].active:hover,
.styledSelect ul li[rel=us]:hover
{
    background: #d5dce2 url(flags/us.png) no-repeat 5px 7px;
}

.open ul li[rel=us].active:hover,
.styledSelect ul li[rel=us]:hover
{
    background: #d5dce2 url(flags/in.png) no-repeat 5px 7px;
}


.styledSelect.open ul li
{
    background-color: #FFF;
}



.wait
{
    cursor: wait;
}

.xpreloader
{
	width: 100%;
	height: 100%;
	background: url(images/vload.gif) no-repeat center;
}


						.cservices-btn
						  {
		 				  background: -webkit-gradient(linear, left top, left bottom, from(#fbae40), to(#f68a33));
                          background: -moz-linear-gradient(top,  #fbae40,  #f68a33);
						  padding:8px 10px;
						  padding-right:15px;
						  position:absolute;
						  right:10px;
						  font-size:14px;
						  color:#ffffff;
						  border-top-right-radius: 0 0;
						  border-bottom-right-radius: 0 0;
						  border-top-left-radius: 4px 4px;
						  border-bottom-left-radius: 4px 4px;
						  text-shadow: 0px -1px 0px #a66b27;
						  font-weight:bold;
						  right:3px;
  						  -webkit-box-shadow: 0 0 10px 8px #c3c6cb;
		     			  -moz-box-shadow: 0 0 10px 8px #c3c6cb;
		    			  box-shadow:0 0 10px 8px #c3c6cb;
						  }


			.icon
			{
			width: 16px;
			height: 16px;
			display: inline-block;
			vertical-align: bottom;
			position: relative;
			}

			.cservices-icon
						   {
						   background: url(images/cservice-btn.png) no-repeat top left;
						   margin-right:4px;
						   }

 			.cs-btn-ext
					   {
						background: url(images/btn-ext.png) no-repeat top left;
						position: absolute;
						width:7px;
						height:6px;
						display:block;
						right:1px;
						top:32px;
					   }



.co_dropdown
{
	position: relative;
	width: 130px;
	float: left;
	display: none;
}

.co_lists
{
	background: #fff;
	position: absolute;
	top: 100%;
	z-index: 900;
	float: left;
	padding: 5px 0;
	margin: 2px 0 0;
	zoom: 1;
	background-color: white;
	border-color: #999;
	border-color: rgba(0, 0, 0, .2);
	border-style: solid;
	border-width: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	display: none;
}

.co_lists ul
{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.co_lists ul li a
{
	color: #677A89;
	background: none;
	display: block;
	padding: 5px 18px;
	display: block;
	width: 84px;
	float: none;
}

.co_lists ul a.disabled
{
	color: #D7E2EA;
}

.co_lists ul a.current
{
	font-weight: bolder;
}

i.cicon
{
	display: inline-block;
	width: 16px;
	height: 11px;
	margin: 1px 5px 0 0;
	float: left;
}

.active i.cicon
{
	margin: 6px 5px 0 0;
}

i.us
{
	background: url(flags/us.png) no-repeat;
}
i.ve
{
	background: url(flags/ve.png) no-repeat;
}

i.pe
{
	background: url(flags/pe.png) no-repeat;
}

i.py
{
	background: url(flags/py.png) no-repeat;
}

i.co
{
	background: url(flags/co.png) no-repeat;
}

i.ec
{
	background: url(flags/ec.png) no-repeat 0 -2px;
	height: 14px;
}

i.pa
{
	background: url(flags/pa.png) no-repeat;
}

i.cl
{
	background: url(flags/cl.png) no-repeat;
}

i.ar
{
	background: url(flags/ar.png) no-repeat;
}

i.uy
{
	background: url(flags/uy.png) no-repeat;
}


i.in
{
	background: url(flags/in.png) no-repeat;
}

i.cr
{
	background: url(flags/cr.png) no-repeat;
}

.co_lists ul li a:hover,
.co_lists ul li a.active
{
	background: #2271A9;
	color: #fff;
}

.co_dropdown .active
{
	width: 85px;
	font-size: 12px;
	height: 22px;
	line-height: 24px;
	position: relative;
	float: left;
	background: url(images/buttonbg.png);
	margin: 0 10px 0 0;
	border-right: 1px solid #B9B9B9;
	-webkit-border-top-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	border-top-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-bottomright: 3px;
	border-bottom-right-radius: 3px;
	position: relative;
	font-family: sans-serif;
	margin: 0;
	padding: 2px 25px 3px 10px;
	display: block;
	color: #677A89;
	font-weight: bolder;
	cursor: pointer;
}

.caret-dropdown
{
	position: absolute;
	top: -7px;
	z-index: 901;
	right: 20px;
}

.caret-inner
{
	top: 1px;
	left: 1px;
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid white;
	position: absolute;
}

.caret-outer
{
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #AAA;
	border-bottom-color: rgba(0, 0, 0, .2);
	position: absolute;
}

.dropdown-divider
{
	padding-top: 1px;
	margin: 1px 1px 4px;
	border-bottom: 1px solid #DDD;
}

.border-bottom
{
	border-bottom: 1px solid #DDD;
	margin-bottom: 1px;
}


.splash-image
{
	width: 760px;
	height: 390px;
	margin: 0 0 5px 10px;
	position: relative;
	overflow: hidden;
}

.splash-image IMG
{
	position: absolute;
	top: 5px;
	left: 0;
	z-index: 8;
}

.splash-image IMG.active
{
	z-index: 10;
}

.splash-image IMG.last-active
{
	z-index: 9px;
}

.toolTip
{
	width: 200px;
	height: 50px;

	position: absolute;
	display: none;
	z-index: 500;


}

.toolArrow
{
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #000;
	border-bottom: 7px solid transparent;
	position: absolute;
	right: 85px;
	display: block;
}

.toolTip span
{
	color: #fff;
	border-radius: 3px;
	text-align: center;
	padding: 5px 10px;
	display: block;
	background: rgba(0,0,0,.8);
	width: 100%;
	position: absolute;
	bottom:0;
}

.export_error {
	
margin: 0;

	padding-left: 25px !Important;

	line-height: 18px;

	padding-bottom: 0 !Important;

	position: relative;
top: -7px;
}

#flex1 b,
.flexme b
{
	color: #C00;
}


.comp-select_field {
	/*width:100%;*/
}

.hidden {
	display: none;
}

#TB_window .fpane{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px!Important;
    margin-right: 85px;
    margin-top: 5px;
}

#TB_window .ptabs{
    margin-left: 15px;
}

#TB_window .ptabs a.sel,
#TB_window .ptabs a{
    border-top: 6px solid #ccc;
}

#TB_window .ptabs{
    margin-left:15px;
}


.new-widget{
    position:absolute;
    background:#fff;
    width:400px;
    box-shadow:0 0 15px 5px #c7cbd0;
    z-index:50;
    top:45px;
    padding-bottom:18px;
    left:190px;
}

.lc_top_arrow{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    left:20px;
    top: -10px;
}

.section-widget{
    line-height:18px;
}

.inner-widget{
    padding:15px;
}

.inner-widget p{
    width:100%;
    float:left;
}

.widget-header{
    margin-bottom:12px;
    float:left;
}

.widget-header h2{
    margin:0;
    padding:0;
    float:left;
    width:100%;
}

.widget-header a{
    float:right;
    text-align:right;
    font-weight: bold;
    color: #333;
    text-transform: lowercase;
    position:absolute;
    top:6px;
    right:6px;
    font-size: 18px;
}

.widget-header a:hover{
    color:red;
}

.powered-title{
    color:#939191;
    font-weight:bold;
    font-size:14px;
    text-align:center;
}

.product-term{
    color:#c82d14;
    font-weight:bold;
}

.widget-btn{
    padding:15px;
    position:relative;
    border-top:1px solid #e8e8e8;
    margin-top: 6px;
}

.wcol50{
    width:50%;
    float:left;
}

.wcol50 a{
    color:#7e7e7e;
}

.wcol50 a:hover{
    text-decoration:underline;
}

.rfloat{
    float:right;
    text-align:right;
}

.wcol50 a.nbtn{
    float:left;
    background: url(images/have.png) no-repeat center -11px;
    padding: 7px 16px;
    border: 1px solid #f0673d;
    position: relative;
    color: #fff;
    line-height: 11px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0px -1px 0px #f0673d;
    font-size:12px;
    letter-spacing:1px;
}

.hidden {
    display: none;
}

.wcol50 a.nbtn:hover{
    -webkit-box-shadow: #999 0 0 20px;
    -moz-box-shadow: #999 0 0 20px;
    box-shadow: #999 0 0 20px;
    text-decoration:none;
}

.d-show{
    float:right;
    margin-top:12px;
    text-align:right;
}



.wcol100{
    width:100%;
    float:left;
    text-align: right;
}
.wcol100 a{
    color:#7e7e7e;
}

.wcol100 a:hover{
    text-decoration:underline;
}
.wcol100 a.nbtn{
    /*float:left;*/
    background: url(images/have.png) no-repeat center -11px;
    padding: 7px 16px;
    border: 1px solid #f0673d;
    /*position: relative;*/
    color: #fff;
    line-height: 11px;
    font-weight: normal;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0px -1px 0px #f0673d;
    font-size:12px;
    letter-spacing:1px;
}

.wcol100 a.nbtn:hover{
    -webkit-box-shadow: #999 0 0 20px;
    -moz-box-shadow: #999 0 0 20px;
    box-shadow: #999 0 0 20px;
    text-decoration:none;
}

.get-quotes-btn
	{
		color: #3182d1;
	}