table th[abbr=fport_s] div a.help,
table th[abbr=countryoforigin_s] div a.help
{
	margin: -14px 40px 0 0;
}

.co_dropdown .active
{
	width: 97px;
}

.co_dropdown
{
	width: 142px;
}

.co_lists ul li a
{
	width: 97px;
}
