.co_lists
{
	z-index: 1400;
	top: 100%;
	left: 0;
}


.header
{
	position: relative;
	z-index: 20;
}

.body
{
	position: relative;
	z-index: 10;
}

.caret-dropdown
{
	width: 13px;
	height: 7px;
	background: url(images/arrow_country.png) no-repeat;
	right: 6px;
}

.active i.cicon
{
	display: inline-block;
	width: 16px;
	height: 10px;
	margin: 7px 5px 0 0;
	overflow: hidden;
}

i.cicon
{
	margin: 3px 5px 0 0;
}

.caret-inner
{
	border: 0;
	position: absolute;
}

.caret-outer
{
	border: 0;
	position: absolute;
}

.co_lists ul li a
{
	padding-top: 5px;
}

.error{
	border: 1px solid #ffe5b8;
}

.addprd{
	border: 1px solid #bcd0e9;
	padding-bottom: 15px;
}
