.co_lists
{
	z-index: 1400;
	top: 100%;
	left: 0;
}

.header
{
	position: relative;
	z-index: 20;
}

.body
{
	position: relative;
	z-index: 10;
}

.active i.cicon
{
	width: 16px;
	height: 10px;
	margin: 6px 5px 0 0;
}

i.cicon
{
	margin: 4px 5px 0 0;
}

.caret-inner
{
	border: 0;
	position: absolute;
}

.caret-outer
{
	border: 0;
	position: absolute;
}

.co_lists ul li a
{
	padding-top: 4px;
}

.caret-dropdown
{
	width: 13px;
	height: 7px;
	background: url(images/arrow_country.png) no-repeat;
	position: absolute;
	top: -3px;
}

.error{
	border: 1px solid #ffe5b8;
}

.addprd{
	border: 1px solid #bcd0e9;
	padding-bottom: 15px;
}

#TB_window .addmore-exprow a:visited,
#TB_window .addmore-exprow a:link,
#TB_window .addmore-exprow a:hover{
	color: #fff;
}