/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> global settings needed for thickbox <<<-----------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox specific link and font settings <<<------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_window {
	font: 12px Arial, Helvetica, sans-serif;
	color: #333333;
}

#TB_secondLine {
	font: 10px Arial, Helvetica, sans-serif;
	color:#666666;
}

#TB_window a:link {color: #666666;}
#TB_window a:visited {color: #666666;}
#TB_window a:hover {color: #000;}
#TB_window a:active {color: #666666;}
#TB_window a:focus{color: #666666;}

/* ----------------------------------------------------------------------------------------------------------------*/
/* ---------->>> thickbox settings <<<-----------------------------------------------------------------------------*/
/* ----------------------------------------------------------------------------------------------------------------*/
#TB_overlay {
	position: fixed;
	z-index:100;
	top: 0px;
	left: 0px;
	height:100%;
	width:100%;
}

.TB_overlayMacFFBGHack {background: url(images/macFFBgHack.png) repeat;}
.TB_overlayBG {
	background-color:#333;
	-moz-opacity: 0.75;
	opacity: 0.75;
}



#TB_window {
	position: fixed;
	background: #fff;
	z-index: 102;
	color:#000000;
	display:none;
	border: 1px solid #333;
	padding:0;
	text-align:left;
	box-shadow: 0 0 50px #444;
	border-radius: 4px;
	top:50%;
	left:50%;
}



#TB_window img#TB_Image {
	display:block;
	margin: 15px 0 0 15px;
	border: 0px;
}

#TB_caption{
	height:25px;
	padding:7px 30px 10px 25px;
	float:left;
}

#TB_closeWindow{
	height:25px;
	padding:11px 25px 10px 0;
	float:right;
}

#TB_closeWindowButton{
	font-weight: bold;
	color: #333;
	padding-left: 20px;
	text-transform: lowercase;
}

	#TB_closeWindowButton:hover
		{
		color: red !important;
		}

#TB_closeAjaxWindow{
	padding:7px 10px 5px 0;
	margin-bottom:1px;
    position:absolute;
    right:0;
    top:0;
}

#TB_ajaxWindowTitle{
    text-align:left;
	padding: 10px 0 5px 10px;
	margin-bottom:1px;
    color:#333;
    letter-spacing:-1px;
    position:relative;
}

#TB_title{
	background: #fff;
	color: #777;
	font-size: 18px;
	font-weight: bold;
	font-family: "Helvetica Nueue", Arial;
	
}

#TB_ajaxContent{
	clear:both;
	padding:2px 15px 15px 15px;
	overflow:auto;
	text-align:left;
	line-height:1.4em;
}

#TB_ajaxContent.TB_modal{
	padding:15px;
}

#TB_ajaxContent p{
	padding:5px 0px 5px 0px;
}

#TB_load{
	position: fixed;
	display:none;
	height:13px;
	width:208px;
	z-index:103;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -104px; /* -height/2 0 0 -width/2 */
}


#TB_HideSelect{
	z-index:99;
	position:fixed;
	top: 0;
	left: 0;
	background-color:#fff;
	border:none;
	-moz-opacity: 0;
	opacity: 0;
	height:100%;
	width:100%;
}



#TB_iframeContent{
	clear:both;
	border:none;
	margin-bottom:-3px;
	margin-top:0px;
	overflow: auto;
}

.d_table {
-webkit-box-shadow: 0 0 2px 1px #d9d9d9;
-moz-box-shadow: 0 0 2px 1px #d9d9d9;
box-shadow: 0 0 2px 1px #d9d9d9;
position: relative;
background: #fff;
width: 100%;
margin-top:12px;
margin-bottom:20px;
height:341px;    
}

.d_spill{
    font-size:15px;
    color:#5d5d5d;
    margin-bottom:15px;
}

.d_table h2{
    font-size:18px;
    text-transform:uppercase;
    font-weight:normal;
    font-family: "Helvetica Nueue", Arial;
    letter-spacing:-1px;
    padding:12px;
    border-bottom:1px solid #ececec;
}

.d_table h3{
    font-size:14px;
    text-transform:uppercase;
    margin:0;
    padding:0;
    color:#5d5d5d;
    margin-bottom:4px;
}

.d_inner{
    margin:15px;
}

.phone_num{
    font-size:22px;
    font-weight:bold;
    color:#333;
    margin-bottom:14px;
}

.country_col{
    width:132px;
    float:left;
}

.vmap_col{
    width:538px;
    float:left;
    margin:0 15px;
}

.contact_col{
    width:230px;
    float:left;
    height:341px;
}

.clear{
    clear:both;
}

.chat_live_image{
    background: url(../iscan2/images/chat_live_girl.png) no-repeat bottom right;
    position:absolute;
    bottom:0;
    right:0;
    width:111px;
    height:129px;
}

a.chat_bubble{
    background: url(../iscan2/images/c_bubble.png) no-repeat bottom right;
    position:absolute;
    width:147px;
    height:71px;
    bottom:50px;
    right:75px;
    font-size:16px;
    text-transform:uppercase;
    font-weight:bold;
    color:#525252;
}

a.chat_bubble{
    -webkit-animation: slide_chat 0.5s;
    -moz-animation: slide_chat 0.5s;
}

@-webkit-keyframes slide_chat{
	from {bottom:0; right:0;}
	to {bottom:50px; right:75px;}
}

@-moz-keyframes slide_chat{
	from {bottom:0; right:0;}
	to {bottom:50px; right:75px;}
}

@keyframes slide_chat{
	from {bottom:0; right:0;}
	to {bottom:50px; right:75px;}
}

a.chat_bubble span{
    position:relative;
    top:22px;
    left:32px;
    text-shadow: 0 1px 0 #fff;
}

.btn {
    display: inline-block;
    padding: 6px 20px 6px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    cursor: pointer;
    font-weight: normal;
    font-family: Arial,Helvetica,sans-serif;
    text-transform: none;
    letter-spacing: normal;
    margin-left: .3em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0,0,0,0.05);
}

.btn-orange {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f7b02f), color-stop(25%, #f7b02f), to(#eb7626));
    background-image: -webkit-linear-gradient(#f7b02f, #f7b02f 25%, #eb7626);
    background-image: -moz-linear-gradient(top, #f7b02f, #f7b02f 25%, #eb7626);
    background-image: -ms-linear-gradient(#f7b02f, #f7b02f 25%, #eb7626);
    background-image: -o-linear-gradient(#f7b02f, #f7b02f 25%, #eb7626);
    background-image: linear-gradient(#f7b02f, #f7b02f 25%,#eb7626);
    background-color: #f7b02f;
    background-repeat: repeat-x;
    border-color: #eb7626 #eb7626 #f7b02f;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0,0,0,0.25);
    padding: 12px 28px 12px;
    font-size:18px;
}

.btn-orange, .btn-orange:hover,
a.btn-orange, a.btn-orange:hover {
    color: #fff;
    text-transform: none;
}

.btn-orange, 
.btn-orange:hover{
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.btn:hover
{
    -webkit-transition: background-position 0.1s linear;
    -moz-transition: background-position 0.1s linear;
    -ms-transition: background-position 0.1s linear;
    -o-transition: background-position 0.1s linear;
    transition: background-position 0.1s linear;
}

.btn:hover
{
    text-decoration: none;
    background-position: 0 -15px;
}

.btn-orange:hover
{
    background-color: #eb7626;
}



