
.wighead
	{
	font-weight: bold;
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	padding-left: 10px;
	background: #fafafa url(../flexigrid/images/bg.gif) repeat-x left 0px;
	}
	
.wigbody
	{
	padding: 5px;
	padding-left: 10px;
	}

.widget
	{
	margin-bottom: 10px;
	}
	
	.wlabel
		{
		color: #999;
		font-size: 11px;
		}
		
	.winfo
		{
		margin-bottom: 5px;
		}

			.wigcontrols a
				{
				float: left;
				display: block;
				position: relative;
				color: #677a89;
				/*background: url(images/buttonbg.png) no-repeat right -27px;*/
				padding-right: 6px;
				margin-bottom: 3px;
				}
														
				.wigcontrols a span
					{
					display: block;
					/*bbackground: url(images/buttonbg.png) no-repeat left top;*/
					float: left;
					font-weight: bolder;
					padding: 6px 12px;
					/*padding-top: 6px;
					padding-bottom: 5px;*/
					line-height: 16px;
					cursor: pointer;
					white-space: nowrap;					
					}

		
	.wigcontrols a
		{
		clear: both;
		}

.contypes
	{
	margin: 0px;
	padding-left: 10px;
	list-style: none;
	}

.contypes span
	{
	text-transform: uppercase;
	color: #333;
	font-size: 10px;
	line-height: 20px;
	}

li.consleg
	{
	background: url(images/rdot.png) no-repeat left center;
	color: #f00;
	padding-left: 20px;
	font-weight: bold;
	}
	
li.shipleg
	{
	background: url(images/gdot.png) no-repeat left center;
	padding-left: 20px;
	color: #0f0;
	font-weight: bold;
	}



#left-container
{
	position: absolute;
	right: -1px;
	width: 180px;
	height: 600px;
	border-left: 1px solid #ccc;
	z-index: 2;
}

.text {
    margin: 7px;
}

#container {
margin: auto;
text-align: center;
}

#center-container {
display: inline-block;
}

#mycanvas-canvas{
    position:relative!Important;
}

#infovis canvas{
}

.google_search
{
	display: inline-block;
	width: 17px;
	height: 17px;
	background: url(images/google.png) no-repeat;
}

	.logo2
		{
		width: 218px;
		height: 50px;
		background: url(images/logo.png) no-repeat;
		position: absolute;
		top: 0px;
		left: 0px;
		}

.fpane{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 15px;
    margin-right: 85px;
    margin-top: 5px;
}


.fsearch .fpane{
    border:none;
    margin:0!Important;
}

.ptabs{
    margin-left: 15px;
}

.ptabs a.sel,
.ptabs a{
    border-top: 6px solid #ccc;
}

.ptabs a{
    height: 19px!Important;
    line-height: 24px;
}

.ptabs a.sel{
    height: 15px!Important;
    line-height: 15px;
}

 .ptabs{
    margin-left:15px;
}

#TB_ajaxWindowTitle{
    text-align:center;
    font-size:25px;
    font-family: "Helvetica Neue","Helvetica", "Arial","Trebuchet MS";
    font-weight:500;
}
#TB_window body{
    min-width:100%;
}