.ie6alibabawidget {
    position: absolute;
    z-index:999;
    top: 165px !important;
}


.rs-form {
    padding-top: 12px !important;
}

body, html {
    overflow: hidden !important;
}

span.lc_top_arrow {
    display: none;
}

.w-col1{
    width:40%;
    float:left;
}

.w-col2{
    width:57% !important;
    float:left;
    border-left: 1px solid #e5e5e5;
    position:relative;
}


.rs-form input.quan-input{
    width: 203px !important;
}

.b-border {
    width:100% !important;
}