.lc_top_arrow{
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    left:20px;
    top: 250px;
}

.ie7alibabawidget {
    position: absolute;
    top: 165px !important;
    z-index:999;
}

.rs-form {
    padding-top: 12px !important;
}

body, html {
    overflow: hidden !important;
}

