.rs-form{
    /*border-bottom:1px solid #e5e5e5;*/
    position:relative;
    padding:12px 15px;
    padding-right:26px;
    padding-bottom:6px;
    padding-top:0;
}

.rs-form .fsection{
    margin-bottom:10px;
}

.rs-form label,
.rs-form input,
.rs-form textarea{
    width:100%;
}

.rs-form label{
    font-size:14px;
    font-weight:bold;
    margin-bottom: 4px;
    float: left;
}

.rs-form input,
.rs-form textarea{
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    border:1px solid #ddd;
    padding:6px;
    font-size:12px;
    font-family:"Arial";
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}

.rs-form input:focus,
.rs-form textarea:focus{
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    border-color: #66afe9;
    outline: 0;
}

.rs-form textarea{
    height:75px;
}

.widget-inner{
    margin:15px;
}

.widget-inner button{
    float:left;
    background: url(images/have.png) no-repeat center -11px;
    padding: 7px 16px;
    border: 1px solid #f0673d;
    position: relative;
    color: #fff;
    line-height: 11px;
    font-weight: bold;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0px -1px 0px #f0673d;
    font-size:12px;
    position: relative;
}

.widget-inner button:hover{
    -webkit-box-shadow: #999 0 0 20px;
    -moz-box-shadow: #999 0 0 20px;
    box-shadow: #999 0 0 20px;
}

.widget-inner button:disabled {
    background: url(images/disabled-btn.png) no-repeat center -11px !important;
    border: 1px solid #bbb;
    text-shadow: 0px -1px 0px #6B6C6D;
    opacity: 0.5;
}



.widget-inner button:hover{
    cursor:pointer;
}

.powered{
    float:right;
}

.powered p{
    color: #939191;
    font-weight: bold;
    font-size: 14px;
    padding:0;
    margin:0;
}

.powered img{
    float:right;
}

.areyousure {
    padding:10px;
}

.red {
    color: Red;
}

.black {
    color: Black;
}

.w-col1{
    width:40%;
    float:left;
}

.b-bottom{
    position: relative;
    width:100%;
    float:left;
    margin-top:6px;
    margin-bottom:15px;
}

.w-col2{
    width:59.5%;
    float:left;
    border-left: 1px solid #e5e5e5;
    position:relative;
}

.inner-fsection{
    padding:15px;
    padding-top:20px;
}

.inner-fsection h2,
.rs-form h2{
    font-size:16px;
    margin-bottom:20px;
}

.inner-fsection p{
    padding:0;
    margin:0;
    margin-bottom:20px;
}

.inner-fsection a{
    color:#7e7e7e;
    margin-top: 12px;
    float: left;
}

.inner-fsection a:hover,
a.post-full:hover{
    text-decoration:underline;
}

.b-border{
    border-bottom: 1px solid #e5e5e5;
    width:100%;
    float:left;
}

a.post-full{
    text-align:right;
    color:#7e7e7e;
    float: right;
    position:relative;
    top:10px;
}

.b-right{
    border-right: 1px solid #e5e5e5;
    position:relative;
    left:1px;
    height:413px;
    background: #fafafa;
    color: #666;
    font-family: Helvetica, Arial, "Sans-serif";
    font-weight: normal;
    font-size: 13px;
}

.b-right h2 {
    color: #0066cc;
    font-weight: bold;
    font-family: Tahoma, Arial, "Sans-serif";
}

.b-right ul {
    font-family: Tahoma, Arial, "Sans-serif";
    color: #000;
    padding: 0px;
    margin: 0px;
}

.b-right ul li {
    background: url(images/alibaba-checkbox.gif) no-repeat;
    padding-left: 19px;
    background-position: 1px 3px;
    list-style: none;
    margin: 8px 8px 8px 0px;
}

a.alibaba-learn-more {
color: #0066cc;
margin: 10px 0px 0px 1px;
background: url(images/alibaba-arrow.gif) no-repeat;
background-position: 70px 4px;
padding-right: 20px;
}

div.alibaba-not-member {
    position: absolute;
    bottom: 10px;
    font-family: Tahoma;
    font-size: 10px;
}

.fsection2 {
    width: 420px;
}

.rs-form input.quan-input{
    width: 200px;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {  /*safari and chrome*/
    select.quantityUnit {
        height:28px;
        line-height:28px;
        background:#f4f4f4;
    }
}
select.quantityUnit::-moz-focus-inner { /*Remove button padding in FF*/
    border: 0;
    padding: 0;
}
@-moz-document url-prefix() { /* targets Firefox only */
    select.quantityUnit {
        padding: 14px 0 !important;
        width: 200px;
        float:right;
        margin-left: 6px;
    }
}
select.quantityUnit {
    width: 200px;
    height: 28px;
}

div.alibaba-float-arrow {
    width: 8px;
    height:13px;
    background: url(images/alibaba-float-arrow.gif) no-repeat;
    position: absolute;
    top: 100px;
    left:-1px;
}

div.alibaba-process {
    min-height: 32px;
    padding-left: 50px;
    margin-top:100px;
    font-size: 18px;
    line-height: 30px;
    color:#000;
}

div.alibaba-warning {
    background: url(images/alibaba-warning.gif) no-repeat;
}

div.alibaba-success {
    background: url(images/alibaba-check.gif) no-repeat;
}

div.alibaba-error {
    background: url(images/alibaba-error.gif) no-repeat;
}

div.widget-inner {
    margin-left: 15px;
}

div.widget-inner2 {
    margin-left: 50px;
}

.cancel-sourcing
{
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
}