.lost
	{
	background: url(images/compass.png) no-repeat;
	width: 268px;
	height: 322px;
	}
	
	.nav a:hover
		{
		background: url(icons/arrow-up-w.png) no-repeat center bottom;
		}
		
	.more-messages
		{
		background: #eee;
		padding: 20px;
		}