
.header
	{
	height: 60px;
	background: #3d3d3d url(images/t-h.png) repeat-x left 56px;
	border-top: 1px solid #7a7a7a;
	text-align: center;
	position: relative;
	}
	
	.logo
		{
		display: block;
		width: 260px;
		height: 60px;
		background: url(images/t-all.png) no-repeat left -288px;
		position: absolute;
		top: 0px;
		left: -40px;
		}
		
	.nav
		{
		position: absolute;
		top: 24px;
		left: 300px;
		height: 24px;
		}

		.nav a
			{
			color: #fff;
			display: block;
			float: left;
			padding: 5px 10px;
			padding-bottom: 18px;
			font-size: 14px;
			line-height: 14px;
			font-family: "Trebuchet MS";
			text-transform: uppercase;
			}
			
			.nav a:hover, .nav a.selected
				{
				background: url(icons/arrow-up.png) no-repeat center bottom;
				}
			
			#nav3 { color: #54df3e; }

		.sign-nav
			{
			position: absolute;
			top: 14px;
			right: 0px;
			}


		.fadein
			{
			visibility: hidden;
			}
