@charset "utf-8";

body
	{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	background: #3d3d3d;
	background: #fff;
	font-size: 12px;
	color: #333;
	min-width: 960px;
	} 
	   

hr
	{
	clear: both;
	height: 0px;
	border: 0px solid #fff;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	}

	.footer hr
		{
		border-bottom: 1px dotted #555;
		}

img 
	{
	border: 0px;
	}
	
a
	{
	color: #90bddf;
	text-decoration: none;
	}

form
	{
	margin: 0px;
	display: inline;
	}

h1
	{
	font-size: 36px;
	}
	
h2
	{
	font-size: 24px;
	font-family: "Trebuchet MS";
	text-transform: uppercase;
	letter-spacing: -1px;
	}
	
h3
	{
	font-size: 14px;
	}

h1,h2,h3,p, form
	{
	margin: 0px;
	margin-bottom: 10px;
	}
	
	.clear
		{
		clear: both;
		}
	
.tile
	{
	position: relative;
	width: 940px;
	margin: auto;
	clear: both;
	text-align: left;
	}	

.icon
	{
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	}
	
			
	
	.en-flag .icon { background: url(images/t-all.png) no-repeat -96px 0px; }
	.cn-flag .icon { background: url(images/t-all.png) no-repeat 0px 0px; }
/*
	.fr-flag .icon { background: url(images/t-all.png) no-repeat -32px 0px; }
	.de-flag .icon { background: url(images/t-all.png) no-repeat -16px 0px; }
	.jp-flag .icon { background: url(images/t-all.png) no-repeat -64px 0px; }
	.it-flag .icon { background: url(images/t-all.png) no-repeat -48px 0px; }
	.pt-flag .icon { background: url(images/t-all.png) no-repeat -80px 0px; }
	#tv { background: url(images/t-all.png) no-repeat -128px -16px; }

*/
	
	.phone-icon { background: url(images/t-all.png) no-repeat -96px -16px; }
	.rss-icon { background: url(images/t-all.png) no-repeat -112px -16px; }
	.chatlive .icon { background: url(images/t-all.png) no-repeat -32px -16px; }
	.twit-icon { background: url(images/t-all.png) no-repeat -144px -16px; }
	.youtube-icon { background: url(images/t-all.png) no-repeat -160px -16px; }
	.fb-icon { background: url(images/t-all.png) no-repeat -176px -16px; }
	.check-icon { background: url(images/t-all.png) no-repeat -288px -16px; }

.list
	{
	margin: 0px;
	padding: 0px;
	}
	
	.list li
		{
		margin: 0px;
		margin-bottom: 6px;
		list-style: none;
		}

.container
	{
	margin-top: 26px;
	}

.topmenu
	{
	height: 18px;
	padding: 4px;
	background: #2f2f2f;
	color: #c1c1c1;
	position: fixed;
	z-index: 99;
	width: 100%;
	top: 0px;
	}
	
	.topmenu .tile
		{
		text-align: right;
		position: relative;
		}
		
	.callus
		{
		font-weight: bold;
		color: #fff;
		font-size: 16px;
		line-height: 16px;
		display: block;
		position: relative;
		float: left;
		left: 0px;
		top: 0px;
		}
	
	.topmenu .chatlive
		{
		display: block;
		position: relative;
		float: left;
		margin-left: 20px;
		font-weight: bold;
		}
		
	.topmenu .rss
		{
		display: block;
		position: relative;
		float: left;
		margin-left: 10px;
		}
		
	.top_share
		{
		float: left;
		position: relative;
		top: -2px;
		margin-left: 60px;
		}
		
	.language
		{
		display: block;
		position: absolute;
		float: left;
		right: 0px;
		}
		
		.language .icon
			{
			cursor: pointer;
			}
		
		.clang
			{
			font-size: 12px;
			margin-right: 5px;
			}
		
		.language .label
			{
			display: none;
			}
			
		.footer .language
			{
			position: relative;
			}
	

.body
	{
	background: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
	}
	
	.body a
		{
		color: #1c3954;
		}
	
	.body h2
		{
		color: #1866b0;
		position: relative;
		}
	
.footer
	{
	background: #3d3d3d  url(images/t-h.png) repeat-x left -6px;
	min-height: 300px;
	padding-top: 20px;
	padding-bottom: 0px;
	color: #c1c1c1;
	}
	
	.records
		{
		padding: 10px;
		color: #999;
		}
	
	.records .record_number
		{
		font-size: 28px;
		font-weight: bold;
		color: #fff;
		display: block;
		}
	
	.footer h3
		{
		color: #fff;
		text-transform: uppercase;
		font-family: "Trebuchet MS";
		}
		
	.footer .logo2
		{
		display: block;
		height: 90px;
		width: 220px;
		background: url(images/t-all.png) no-repeat left -348px;
		}
		
	.footer .hlite
		{
		background: #555 url(images/t-h.png) repeat-x left -8px;
		padding: 5px;
		text-align: center;
		border: 1px solid #777;
		}
		
	.footer .hphone
		{
		color: #fff;
		text-align: center;
		}
		
		.truste-logo
			{
			display: block;
			width: 115px;
			height: 45px;
			background: url(images/t-all.png) no-repeat -316px -448px;
			}
		
/*
	.questions
		{
		position: fixed;
		bottom: 1px;
		right: 10px;
		width: 322px;
		height: 75px;
		background: url(images/t-all.png) no-repeat left -439px;
		display: none;
		z-index: 100;
		}
		
		.questions span
			{
			color: #fff;
			display: block;
			font-size: 16px;
			line-height: 18px;
			padding: 22px 10px;
			text-align: center; 
			}
*/

		
/* Columns */	

	.panel
		{
		clear: both;
		margin-bottom: 20px;
		}
		
	.col2of3, .col1of3, .col1of4, .col1of2, .col3of4
	{
		float: left;
		padding-bottom: 10px;
		margin-right: 1%;
	}

	.col2of3
		{
		width: 66%;
		}
		
	.col1of3
		{
		width: 32%;
		}
		
	.col1of4
		{
		width: 24%;
		}

	.col3of4
		{
		width: 74%;
		}

		
	.col1of2
		{
		width: 48%;
		margin-right: 2%;
		}
		
/* forms */
	
	input.tb, textarea.ta
		{
		border: 0px;
		padding: 0px;
		font-family: Arial;
		font-size: 12px;
		color: #555;
		margin: 0px;
		background: none;
		}
	
	textarea
		{
		overflow: auto;
		resize: none;
		}
	
	input.fw, textarea.fw
		{
		width: 100%;
		outline: none;
		}
		
		input.hw
			{
			width: 49%;
			outline: none;
			}
		
	div.tw
		{
		background: #fff;
		padding: 5px;
		margin-bottom: 2px;
		}
		
/* buttons */

.button
	{
	background: none;
	border: 0px;
	padding: 0px;
	overflow: visible;
	position: relative;
	cursor: pointer;
	margin-bottom: 10px;
	}

	button.button:focus
		{
		outline: none;
		}

		span.b1
			{
			background: url(images/t-all.png) no-repeat right -128px;
			display: inline-block;
			padding-right: 9px;
			height: 32px;

/*
			overflow: hidden;
*/
			}
			
			.blu span.b1
				{
				background: url(images/t-all.png) no-repeat right -64px;
				}
				
			a:hover span.b1, a.button:hover span.b1, .button:focus span.b1, a:focus span.b1
				{
				background-position: right -256px;
				}

			a.blu:hover span.b1, .blu:focus span.b1
				{
				background-position: right -192px;
				}
							
		span.b2
			{
			display: inline-block;
			background: url(images/t-all.png) left -96px  no-repeat;
			line-height: 14px;
			font-size: 14px;
			font-weight: bold;
			text-transform: uppercase;
			font-family: "Trebuchet MS";
			white-space: nowrap;
			color: #fff;
			height: 12px;
			padding: 10px 21px;
			padding-right: 12px;
			cursor: pointer;
			}
			
			.blu span.b2
				{
				background: url(images/t-all.png) no-repeat left -32px;
				color: #fff;
				}
				
			a:hover span.b2, a.button:hover span.b2, .button:focus span.b2, a:focus span.b2
				{
				background-position: left -224px;
				}
				
			a.blu:hover span.b2, .blu:focus span.b2
				{
				background-position: left -160px;
				}
				
		


.copyright
	{
	clear: both;
	background: #222;
	position: relative;
	padding: 10px;
	}
	
	.copyright a
		{
		font-weight: bold;
		color: gold;
		}
	
	.valid
		{
		display: block;
		margin-bottom: 10px;
		}					
		
	.loading
		{
		background: url(images/load2.gif) no-repeat left;
		padding: 10px;
		padding-left: 24px;
		margin-bottom: 20px;
		display: none;
		}
		

/* error handling */
		
		.error_msg
			{
			background: red;
			padding: 20px;
			color: #fff;
			margin-bottom: 20px;
			}
			
			.error_msg .h3
				{
				color: #fff;
				letter-spacing: normal;
				font-size: 14px;
				font-weight: bold;
				margin: 0px;
				padding-bottom: 10px;
				border-bottom: 1px dotted #fff;
				font-family: "Trebuchet MS";
				text-transform: uppercase;
				}
			
			.error_msg li
				{
				margin-bottom: 5px;
				}
				
				.error_hlite .form_input
					{
					border-bottom-color: red;
					}
				
				.ok_hlite .form_input
					{
					border-bottom-color: #55BA58;
					}
				
				.error_hlite .form_msg
					{
					font-weight: normal;
					}
					
					.error_hlite .ta, .error_hlite .tb
						{
						/* color: #fff; */
						}
						
					.msg
						{
						display: block;
						}
		
		
	.response
		{
		display: block;
		padding-bottom: 10px;
		}

	.center
		{
		text-align: center;
		}

		
		.mayihelpyou
			{
			position: absolute;
			display: none;
			top: 100px;
			left: 280px;
			width: 360px;
			background: #eee  url(images/t-h.png) repeat-x left -1730px;
			border: 1px solid #555;
			z-index: 102;
			}
			
			.mayihelpyou_inner
				{
				padding: 20px;
				}
			
			.mayihelpyou h3
				{
				padding: 20px;
				/* background: red url(icons/arrow-up-w.png) no-repeat 30px bottom; */
				background: red;
				color: #fff;
				font-size: 24px;
				letter-spacing: -1px;
				font-family: Georgia;
				}
			
			.mayihelpyou p
				{
				font-size: 18px;
				text-align: center;
				}
			
			.mayi_answer
				{
				margin-top: 30px;
				text-align: center;
				}
			
			.mayi_answer a
				{
				margin-top: 10px;
				}

			.button span.icon
				{
				margin-top: -4px;
				}
			